.modal_header {
  border-bottom: 1px solid var(--menu-hover-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.modal_header.invalidForm{
  border-bottom: 1px solid var(--primary-red-color);
  background-color: var(--secondary-red-color);
  border-radius:  8px 8px 0 0 ;
}


.modal_title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: var(--active-font-weight);
}

.modal_header .exit_button {
  background-color: var(--secondary-cyan-color);
  color: var(--second-color);
  border-radius: 2px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.3s ease;
}

.modal_header .exit_button:hover {
  background-color: var(--second-color);
  color: var(--card-bg-color);
  transform: rotate(180deg);
}

.modal-body {
  padding: 1rem;
}

.modal-body .form-group .validation_message {
  color: var(--error-color);
  font-size: var(--extra-small-font-size);
  margin-block: 0.1em;
}

.modal-body .disabled_btn {
  opacity: 0.5;
}

.file_drop_container {
  display: flex;
}

.file_drop_container .form_container {
  width: 100%;
  border-radius: 5px;
}

.file_drop_container .form_container .form_input_container .label {
  font-size: var(--form-label-font-size);
  color: var(--ternary-text-color);
}

.file_drop_container .form_container .form_input_container .text_input {
  border-radius: 5px;
  height: 43px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: var(--form-label-font-size);
  border: 1.2px solid var(--menu-hover-color);
}

.file_drop_container .form_container .file_input {
  border: 1.2px solid var(--menu-hover-color);
  padding: 10px;
  border-radius: 5px;
  height: 43px;
  font-size: var(--form-label-font-size);
  width: 100%;
  margin-bottom: 7px;
}

.file_drop_container .form_container .label_form_error_container{
  display: flex;
  justify-content: space-between;
}

.file_drop_container .form_container .form_error {
  color: var(--danger-color);
  font-size: var(--extra-small-font-size);
}

.file_drop_container .form_container .img_preview_container {
  margin: 0.5rem 0;
  background-color: var();
}

.file_drop_container .form_container .img_preview_container .img_card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.file_drop_container .form_container .img_preview_container .img_card .img {
  max-width: 440px;
  height: auto;
  /* height: 250px; */
  border-radius: var(--normal-border-radius);
}


.file_drop_container .form_container .form_input_container .checkbox_container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file_drop_container .form_container .form_input_container .checkbox_container .form_control.checkbox{
  margin-right: 6px;
}



.file_drop_container .form_container .submit_btn_container {
  width: 100%;
  margin-top: 30px;
}

.file_drop_container
  .form_container
  .submit_btn_container
  .icon {
  margin-right: 4px;
}

.file_drop_container
  .form_container
  .submit_btn_container
  .submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--second-color);
  background-color: var(--second-color);
  padding: 0.4rem;
  width: 100%;
  font-size: var(--form-label-font-size);
  border-radius: 5px;
  color: var(--card-bg-color);
  font-weight: var(--active-font-weight);
}

.file_drop_container
  .form_container
  .submit_btn_container
  .submit_btn:disabled:hover {
  background-color: var(--error-color);
  cursor: not-allowed;
  border: var(--normal-button-border-size) solid var(--error-color);
}
