.middle_console_container {

    position: absolute;
    background-color: var(--card-bg-color);
    width: 78%;
    /* width: 100%; */
    height: 81vh;
    margin-left: 21%;
    margin-top: 16vh;
    border-radius: 10px;
    z-index: -100;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 3px;
    transition: 0.6s;

}


.middle_console_container.collapsed {
    width: 93%;
    margin-left: 5.5%;
}



.middle_console_container .main_heading_section {
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 2px solid var(--ternary-text-color);
    /* border-top: 3px solid var(--ternary-text-color); */
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}


.middle_console_container .main_heading_section .main_heading {
    font-size: 1.4rem;
    font-weight: 550;
}



.middle_console_container .body_section {
    background-color: var(--card-bg-color);
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
}


/* ---main ends */