<div class="view_cards">
  <ng-container *ngIf="data && data.length > 0; else noRequests">
    <div *ngFor="let item of data" class="request_card">
      <div class="card_details">
        <div class="row">
          <div *ngFor="let title of titles" class="col-xs-6 col-sm-6 data">
            <p class="card-title">{{ title }}</p>
            <p class="card-text">{{ getPropertyByTitle(item, title) }}</p>
          </div>
        </div>
        <div *ngIf="buttonNeeded" class="view_option_button">
          <button class="btn" (click)="onButtonClick(item.requestId)">
            View Options
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noRequests>
    <h3>No pending requests</h3>
  </ng-template>
</div>
