<div class="outercontainer">
  <div class="gauge">
    <div class="arc" [style.backgroundImage]="gaugeColor"></div>
    <div class="inner_arc"></div>
    <div
      class="needle"
      [style.transform]="'rotate(' + needleRotation + 'deg)'"
    ></div>
  </div>
  <div class="label">

    <div class="value_section">


    <div class="value" *ngIf="remainingDays > 0">
      {{ 0 }}
      <span class="day">Days</span>
    </div>

    <div class="value" *ngIf="remainingDays > 0" style="margin-left: 10px">
      {{ remainingDays }}
      <span class="day">Days</span>
    </div>

    <div class="value" *ngIf="remainingDays > 0" style="margin-left: 20px">
      {{ totalDays }}
      <span class="day">Days</span>
    </div>
  </div>

    <p class="item_heading">Remaining Days</p>

    <div *ngIf="remainingDays <= 0" class="value">No current trip</div>
  </div>
</div>
