<app-page-header [headingInputData]="pageHeading"></app-page-header>
<app-table-filter
    (dateSelected)="handleDateSelection($event)"
    (sortOptionSelected)="handleSortOptionSelection($event)"
    (searchByName)="handleSearchByName($event)"
    (seeAllClicked)="handleSeeAllClick()"
  >
  </app-table-filter>
<app-data-table
  [headers]="tableHeaders"
  [data]="incomingRequestdata"
  [displayedProperties]="fieldsToDisplay"
></app-data-table>
<pagination
  *ngIf="totalCount > 10"
  [totalItems]="totalCount"
  [itemsPerPage]="itemsPerPage"
  [(ngModel)]="currentPage"
  (pageChanged)="onPageChange($event)"
></pagination>
