.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5rem; */
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    border-radius: var(--normal-border-radius);
    width: fit-content;
    padding: 1.5rem;
}

.main_container .action_btns .apply_btn {

    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--form-label-font-size);
    margin-top: 20px;
    font-weight: var(--active-font-weight);
    border: 1px solid var(--first-color);
    /* color: var(--primary-orange-color); */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--first-color);
}

.main_container .action_btns .apply_btn:hover {
    background-color: var(--first-color);
    color: var(--card-bg-color);

}



.main_container .time_picker_card {
    width: 250px;
    background-color: var(--card-bg-color);
    padding: 1.5rem;
    box-shadow: var(--normal-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--normal-border-radius);


}

.main_container .time_picker_card .decrementer,
.main_container .time_picker_card .incrementer {
    width: 30px;
    height: 30px;
    /* background-color: var(--card-bg-color); */
    /* color: var(--ternary-text-color); */
    font-size: 1.2rem;
    font-weight: var(--active-font-weight);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    /* background: var(--dark-gradient-color); */
    /* background-color: var(--primary-orange-color); */
    background-color: var(--menu-hover-color);
    color: var(--first-color);

    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;



}

.main_container .time_picker_card .decrementer:hover,
.main_container .time_picker_card .incrementer:hover {
    background-color: var(--first-color);
    color: var(--card-bg-color);

}



.main_container .time_picker_card .display {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: var(--active-font-weight);
    transition: 0.3s;


}



.main_container .time_picker_card .display .separator {
    margin-top: auto;
    margin-bottom: auto;
}


/* .main_container .time_picker_card .display.active_hour {
    animation: moveDown 2s ease infinite alternate;

} */


@keyframes moveDown {
    from {
        transform: translateY(0);
        /* Start position */
    }

    to {
        transform: translateY(100px);
        /* End position */
    }
}

.main_container .time_picker_card .unit_section {

    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);

    border-radius: 5px;
    border: none;
    margin-left: 25px;
    padding: 5px;



}

.main_container .time_picker_card .unit_section .card {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--ternary-text-color);
    transition: 0.3s;
    font-weight: var(--active-font-weight);
    cursor: pointer;

}

.main_container .time_picker_card .unit_section .card:hover {
    color: var(--secondary-text-color);
}


.main_container .time_picker_card .unit_section .card.active {
    /* background-color: var(--first-color); */
    color: var(--card-bg-color);
    /* background: var(--dark-gradient-color); */
    background-color: var(--first-color);


}