.container {
    margin-top: 50px;
}

.form-column {
    margin-bottom: 20px;
}
.custom-width-btn {
    width: 5rem; /* Set your desired width */
}
.time-picker-container {
    display: flex;
    align-items: center;
}

.time-input {
    width: 100px;
    text-align: center;
    margin-right: 5px;
}

.time-separator {
    margin-right: 5px;
}