<div class="main_container">

    <div class="request_view_card">

        <div class="top_section">
            <div class="origin_destination_card">
                <p class="text">Kochi</p>
            </div>

            <div class="separator">
                <span class="dot"></span>
                <span class="line">-</span>
                <span class="line">-</span>
                <span class="line">-</span>
                <span class="line">-</span>
                <span class="line">-</span>
                <span class="dot"></span>
            </div>

            <div class="origin_destination_card">
                <p class="text">Trivandrum</p>
            </div>
        </div>

        <div class="middle_section">
            
            <div class="title_value_card">
                <span class="title">Request Code</span>
                <p class="value">REQ001</p>
            </div>

            <div class="title_value_card">
                <span class="title">Project Code</span>
                <p class="value">REQ001</p>
            </div>

            <div class="title_value_card">
                <span class="title">Project Code</span>
                <p class="value">REQ001</p>
            </div>
            
            <div class="title_value_card">
                <span class="title">Project Code</span>
                <p class="value">REQ001</p>
            </div>

            <div class="title_value_card status">
                <span class="title">Status</span>
                <p class="value status">Approved</p>
            </div>

        </div>

    </div>

</div>