.dashboard_table {
    margin-top: 0.4rem;
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--normal-border-radius);
    height: 100%;
    /* overflow-y: scroll; */
}


.dashboard_table .heading {
    /* background-color: #f2f2f2; */
    color: var(--secondary-text-color);
    font-weight: var(--active-font-weight);
    font-size: var(--small-font-size);
    text-align: left;
    padding: 0 8px;
    border-top: 1px solid var(--menu-hover-color);
    border-bottom: 1px solid var(--menu-hover-color);
    height: 40px;
}

.dashboard_table .table_body {
    overflow-y: auto;
}

.dashboard_table .data {
    /* padding: 8px; */
    height: 40px;
    border-bottom: 1px solid var(--menu-hover-color);
    font-size: var(--dash-table-font-size);
    color: var(--secondary-text-color);
    overflow-wrap: break-word;
    padding: 0 8px;

}

.dashboard_table .remarks {

    /* overflow-wrap: break-word; */
    width: 160px;
}

/* .dashboard_table .remarks .user_icon {
    display: none;
} */

.dashboard_table .status .text{
    padding: 2px 8px;
    border-radius: 4px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    font-size: var(--extra-small-font-size);
    font-weight: var(--active-font-weight);
}

.dashboard_table .status .text.cyan {
    color: var(--primary-cyan-color);
    background-color: var(--secondary-cyan-color);
    border: 0.6px solid var(--primary-cyan-color);
}

.dashboard_table .status .green {
    color: var(--primary-cyan-color);
    background-color: var(--secondary-cyan-color);
}

.dashboard_table .status .red {
    color: var(--primary-cyan-color);
    background-color: var(--secondary-cyan-color);
}

.dashboard_table .status .text.forwarded{
    color: var(--second-color);
    background-color: var(--secondary-cyan-color);
    border: 0.6px solid var(--second-color);
}


.dashboard_table tbody tr:hover {
    background-color: var(--secondary-cyan-color);
}