<table class="dashboard_table">
  <thead>
    <tr class="tbl_heading">
      <th class="heading">Req ID</th>
      <th class="heading">From</th>
      <th class="heading">To</th>
      <th class="heading">Status</th>
      <th class="heading">Remarks</th>
    </tr>
  </thead>

  <tbody class="table_body" *ngFor="let trip of requestProgress">
    <tr>
      <td class="data">{{ trip.requestCode }}</td>
      <td class="data">{{ trip.sourceCity }}</td>
      <td class="data">{{ trip.destinationCity }}</td>
      <td class="data status">
        <span
          [ngClass]="
            trip.status === 'Ongoing'
              ? 'green'
              : trip.status === 'Cancelled' || trip.status === 'Denied'
              ? 'red'
              : 'blue'
          "
          >{{ trip.status }}</span
        >
      </td>
      <td class="data remarks">{{ trip.progress }}</td>
    </tr>
  </tbody>
</table>
