<table class="dashboard_table">
    <thead>
        <tr class="tbl_heading">
            <th class="heading">Req ID</th>
            <th class="heading">From</th>
            <th class="heading">To</th>
            <th class="heading">Status</th>
            <th class="heading">Remarks</th>
        </tr>
    </thead>

    <tbody class="table_body">

        <tr>
            <td class="data">REQ101</td>
            <td class="data">Trivandrum</td>
            <td class="data">Austin</td>
            <td class=" data status"><span class="value">Waiting</span> </td>
            <td class="data remarks">Approved by Manager</td>
        </tr>

         <tr>
            <td class="data">REQ101</td>
            <td class="data">Trivandrum</td>
            <td class="data">Austin</td>
            <td class=" data status"><span class="value">Waiting</span> </td>
            <td class="data remarks">Approved by Manager</td>
        </tr>             

        <tr>
            <td class="data">REQ101</td>
            <td class="data">Trivandrum</td>
            <td class="data">Austin</td>
            <td class=" data status"><span class="value">Waiting</span> </td>
            <td class="data remarks">Approved by Manager</td>
        </tr>

        <tr>
            <td class="data">REQ101</td>
            <td class="data">Trivandrum</td>
            <td class="data">Austin</td>
            <td class=" data status"><span class="value">Waiting</span> </td>
            <td class="data remarks">Approved by Manager <br> <i class="user_icon ri-user-line"></i> Mehtab </td>
        </tr>                       
    
    </tbody>
</table>