<div class="main_container">

    <div class="heading_section">
        <p class="heading_text">Upcoming Trips</p>
    </div>

    <div class="trip_details_section">

        <div class="origin_destination_section">

            <div class="city origin">
                <p class="text">Kochi</p>
            </div>

            <span class="mode_icon" ><i class="icon ri-plane-line"></i></span>
            
            <div class="city destination">
                <p class="text">Trivandrum</p>
            </div>

        </div>

        <div class="date_time_section">

          <div class="date departure">
            <span class="title">Departure Date</span>
            <p class="value">06 June '24</p>
          </div>

          <div class="time pickup">
            <span class="title">PickUp Time</span>
            <p class="value">04.15 PM</p>
          </div>

        </div>

        <div class="trip_purpose_section">
            <span class="title">Trip Purpose</span>
            <p class="value">Lorem Ipsum is simply dummy text</p>
        </div>
        
    </div>

</div>