.main_container{
    background-color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    height: 100%;
    background-color: var(--primary-text-color);
    position: absolute;
    width: calc(100vw - 60px);
    height: calc(100vh - 77px);
    z-index: 9999;
    top: 7px;
    flex: 1;
}
  
.main_container.side_bar_open{
    width: calc(100vw - 235px);
}
  
.main_container .download_btn{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99999;
}

.main_container .close_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99999;
}
  
.main_container .close_btn .btn.close,
.main_container .download_btn .btn.download{
    color: var(--card-bg-color);
    /* background-color: var(--secondary-cyan-color); */
    border-radius: 4px;
    width: 30px;
    height: 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--large-font-size);
}
  
.main_container .close_btn .btn.close:hover{
    color: var(--primary-red-color);
    background-color: #474545;
    /* background-color: var(--secondary-red-color); */
}

.main_container .download_btn .btn.download:hover{
    background-color: #474545;
    color: var(--card-bg-color);
}



.main_container .pdf_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0.5rem;
}
        
.main_container .zoom_actions{
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
  
    
.main_container .zoom_actions .btn{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--secondary-cyan-color); */
    color: var(--card-bg-color);
    transition: 0.3s;
    border: none;
    border-radius: 4px;
    font-size: var(--medium-font-size);
    margin-right: 0.5rem;
}
  
.main_container .zoom_actions .btn:hover{
    background-color: #474545;
    color: var(--card-bg-color);
}
  
  
  
  
  
  
    