<div class="main_container">

    <div class="left_section">

        <div class="search_bar_container">  
            
            <div class="icon_container"> <i class="icon ri-search-2-line"></i> </div>
            <input type="text" class="search_input" placeholder="search...">
        </div>

        <div class="chat_list_container">
    
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>    
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>
            <div class="chat_item_card">
    
                <div class="img_section">
                    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
                </div>
    
                <div class="info_section">
                    <p class="name">John Doe</p>
                    <span class="message">Hello, Good Morning!</span>
                </div>
    
                <div class="meta_data_section">
                    <p class="time">12.00</p>
                    <span class="icon_section"> <i class="icon ri-check-line"></i> </span>
                </div>
    
            </div>            
        </div>

    </div>

    <div class="right_section">

        <div class="chat_info_section">

            <div class="profile_img_container">
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
            </div>

            <div class="profile_info_container">
                <p class="name">John Doe</p>
                <!-- <span class="status">Online</span> -->
            </div>

            <div class="action_container">
                <div class="action_card">
                    <i class="icon ri-phone-fill"></i>
                </div>
                <div class="action_card">
                    <i class="icon ri-mail-line"></i>
                </div>
             
            </div>

        </div>

        <div class="chat_view_container">

        </div>

        <div class="chat_action_container">
            <div class="text_input_container">
                <input class="text_input" type="text" placeholder="Type a message">
            </div>
            <div class="send_btn_container">
                <i class="icon ri-send-plane-fill"></i>
            </div>
        </div>
    
    </div>



</div>