<div class="card_main_container">
  <!-- Header for the section -->

  <!-- Container for cards with optional scrollbar -->
  <div class="cards_wrapper" [ngClass]="{ show_scrollbar: showScrollbar }">
    <!-- Card items loop -->
    <div
      class="card"
      *ngFor="let title of titles; let i = index"
      (click)="onCardClick(title)"
    >
      <!-- Data section of the card, displayed if data is available -->
      <div class="data" *ngIf="data[i] !== undefined">
        <p class="value">{{ data[i] }}</p>
      </div>

      <!-- Title section of the card -->
      <div class="title">
        <p class="value">{{ title }}</p>
      </div>
    </div>
  </div>
  <p class="item_heading">Request Status</p>
</div>
