<div class="main_container">

    <div class="calendar_date_section">

        <div class="current_date_container">
             <p class="day_of_month">27</p>
             <div class="day_month_year">
                <span class="text">Thu</span>
                <span class="text">June 2024</span>
             </div>
        </div>

        <div class="current_week_container">
            <div class="day_card">
                <span class="day_of_week">S</span>
                <span class="day_of_month">23</span>
            </div>
            <div class="day_card">
                <span class="day_of_week">M</span>
                <span class="day_of_month">24</span>
            </div>
            <div class="day_card">
                <span class="day_of_week">T</span>
                <span class="day_of_month">25</span>
            </div>
            <div class="day_card">
                <span class="day_of_week">W</span>
                <span class="day_of_month">26</span>
            </div>
            <div class="day_card active">
                <span class="day_of_week">T</span>
                <span class="day_of_month">27</span>
            </div>
            <div class="day_card">
                <span class="day_of_week">F</span>
                <span class="day_of_month">28</span>
            </div>
            <div class="day_card">
                <span class="day_of_week">S</span>
                <span class="day_of_month">29</span>
            </div>

        </div>
        
    </div>

    <div class="item_main">
        <div class="calendar_items_section">

            <div class="item_card">
                <div class="main_title">
                    <p class="text">Business Meet </p>
                </div>
                <div class="location_container">
                    <span class="text"><i class="icon ri-map-pin-line"></i>Austin, Texas</span>
                </div>
    
                <div class="date_container">
                    <span class="title">Departure Date</span>
                    <p class="value">12 July 2024</p>
                </div>
    
                <div class="project_code">
                    <span class="title">Project Code</span>
                    <p class="value">PRJ090NDK</p>
                </div>
            </div>
            <div class="item_card">
                <div class="main_title">
                    <p class="text">Business Meet </p>
                </div>
                <div class="location_container">
                    <span class="text"><i class="icon ri-map-pin-line"></i>Austin, Texas</span>
                </div>
    
                <div class="date_container">
                    <span class="title">Departure Date</span>
                    <p class="value">12 July 2024</p>
                </div>
    
                <div class="project_code">
                    <span class="title">Project Code</span>
                    <p class="value">PRJ090NDK</p>
                </div>
            </div>
            <div class="item_card">
                <div class="main_title">
                    <p class="text">Business Meet </p>
                </div>
                <div class="location_container">
                    <span class="text"><i class="icon ri-map-pin-line"></i>Austin, Texas</span>
                </div>
    
                <div class="date_container">
                    <span class="title">Departure Date</span>
                    <p class="value">12 July 2024</p>
                </div>
    
                <div class="project_code">
                    <span class="title">Project Code</span>
                    <p class="value">PRJ090NDK</p>
                </div>
            </div>
            <div class="item_card">
                <div class="main_title">
                    <p class="text">Business Meet </p>
                </div>
                <div class="location_container">
                    <span class="text"><i class="icon ri-map-pin-line"></i>Austin, Texas</span>
                </div>
    
                <div class="date_container">
                    <span class="title">Departure Date</span>
                    <p class="value">12 July 2024</p>
                </div>
    
                <div class="project_code">
                    <span class="title">Project Code</span>
                    <p class="value">PRJ090NDK</p>
                </div>
            </div>
            <div class="item_card">
                <div class="main_title">
                    <p class="text">Business Meet </p>
                </div>
                <div class="location_container">
                    <span class="text"><i class="icon ri-map-pin-line"></i>Austin, Texas</span>
                </div>
    
                <div class="date_container">
                    <span class="title">Departure Date</span>
                    <p class="value">12 July 2024</p>
                </div>
    
                <div class="project_code">
                    <span class="title">Project Code</span>
                    <p class="value">PRJ090NDK</p>
                </div>
            </div>
            <div class="item_card">
                <div class="main_title">
                    <p class="text">Business Meet </p>
                </div>
                <div class="location_container">
                    <span class="text"><i class="icon ri-map-pin-line"></i>Austin, Texas</span>
                </div>
    
                <div class="date_container">
                    <span class="title">Departure Date</span>
                    <p class="value">12 July 2024</p>
                </div>
    
                <div class="project_code">
                    <span class="title">Project Code</span>
                    <p class="value">PRJ090NDK</p>
                </div>
            </div>
    
        </div>
    </div>


    
</div>