<div class="main_container">
  <div class="top_section">
    <div class="top_left_section">
      <app-dashboard-upcoming-trips
        [employeeId]="employeeId"
      ></app-dashboard-upcoming-trips>
    </div>

    <div class="top_middle_top_right_section">
      <div class="top_middle_section">
        <app-dashboard-notification></app-dashboard-notification>
      </div>

      <!-- Calendar -->
      <div class="top_right_section">
        <div class="calendar_container">
          <app-dashboard-calender [empId]="employeeId"></app-dashboard-calender>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom_section">
    <!-- Req History -->
    <div class="bottom_left_section">
      <div class="heading_container">
        <div
          (click)="changeDashboardTableBody('requests')"
          [ngClass]="
            dashboardTableBody === 'requests'
              ? 'heading_card active'
              : ' heading_card'
          "
        >
          <span class="heading">My Requests</span>
        </div>

        <div
          (click)="changeDashboardTableBody('settlements')"
          [ngClass]="
            dashboardTableBody === 'settlements'
              ? 'heading_card active'
              : 'heading_card'
          "
          class="heading_card"
        >
          <span class="heading">My Settlements </span>
        </div>
      </div>

      <div class="body">
        <div
          *ngIf="dashboardTableBody === 'requests'"
          class="travel_request_container"
        >
          <app-dashboard-table></app-dashboard-table>
        </div>

        <div
          *ngIf="dashboardTableBody === 'settlements'"
          class="travel_settlement_container"
        >
          <!-- <p>Travel Settlements</p> -->
          <app-dashboard-table></app-dashboard-table>
        </div>
      </div>
    </div>

    <!-- Done Trips -->
    <div class="bottom_right_section">
      <app-dashboard-done-trips [empId]="employeeId"></app-dashboard-done-trips>
    </div>
  </div>
</div>
