<div class="main_container">
    <div class="top_section">

        <div class="top_left">

            <div class="upcoming_trips_container">
                <app-upcoming-trip-card></app-upcoming-trip-card>
            </div>
            <div class="task_manager_container">
                <app-task-manager></app-task-manager>
            </div>
            <div class="notification_container">
                <app-dashboard-notification></app-dashboard-notification>
            </div>

        </div>

        <div class="top_right">
            <app-dashboard-calender></app-dashboard-calender>
        </div>

    </div>

    <div class="bottom_section">
        <div class="bottom_left">
            <app-tabbed-data-table></app-tabbed-data-table>
        </div>
        <div class="bottom_right">
            <app-dashboard-done-trips></app-dashboard-done-trips>
        </div>
    </div>

</div>