<!-- <p>side-nav-bar works!</p> -->


<div [ngClass] = " isSideNavBarCollapsed === 1 ? 'side_bar_collapsed' : 'side_bar_container' ">



    <div   (click)="controlSideBar()" class="toggle">
        <i class="close_icon ri-close-circle-line"></i>
        <i class="icon ri-draggable"></i>
    </div>

    <!-- <div class="side_bar_logo_section">
        <h3 class="side_bar_logo"> <i class="ri-road-map-fill"></i> XtraMile</h3>
    </div> -->
 

    <div class="side_bar_main">

        <i *ngIf="isSideNavBarCollapsed===1" class="collapsed_icon ri-dashboard-line"></i>

        <p class="main_title active"> <i class="left_icon ri-dashboard-line"></i>  Dashboard  </p>
    </div>

    <div class="side_bar_main" (click)="toggleSubMenu('1')">
        <i *ngIf="isSideNavBarCollapsed===1" class="collapsed_icon ri-sticky-note-add-line"></i>

        <p class="main_title"> <i class="left_icon ri-sticky-note-add-line"></i> My Requests <i  [ngClass] = "subMenu1ToggleValue === 1 ? 'right_icon ri-arrow-down-s-line' :  'right_icon ri-arrow-right-s-line'" ></i> </p>

        <div  (click)="doNothing()"  *ngIf ="subMenu1ToggleValue === 1;" class="side_bar_sub_list">
                         
                <ng-container *ngFor="let entry of myRequestsMapEntries()">
                    <li (click)="navigateToRequest(entry[1])" class="list_item"><i [ngClass]="entry[0]" ></i> {{entry[1]}} <span class="dot"> </span> </li>
                </ng-container>

        </div>

    </div>

    <div class="side_bar_main" (click)="toggleSubMenu('2')">
        <i *ngIf="isSideNavBarCollapsed===1" class="collapsed_icon ri-bill-line"></i>

        <p class="main_title"> <i class="left_icon ri-bill-line"></i> My Settlements <i  [ngClass] = "subMenu2ToggleValue === 1 ? 'right_icon ri-arrow-down-s-line' :  'right_icon ri-arrow-right-s-line'" ></i> </p>

        <div  (click)="doNothing()"  *ngIf ="subMenu2ToggleValue === 1;" class="side_bar_sub_list">
                         
                <ng-container *ngFor="let entry of mySettlementsMapEntries()">
                    <li class="list_item"><i [ngClass]="entry[0]" ></i> {{entry[1]}} <span class="dot"> </span> </li>
                </ng-container>

        </div>

    </div>

    <div class="side_bar_main">
        <i *ngIf="isSideNavBarCollapsed===1" class="left_icon collapsed_icon ri-user-line"></i>
        <p class="main_title"> <i class="left_icon ri-user-line"></i> Profile </p>
    </div>

    <div class="side_bar_logout_section">
        <i *ngIf="isSideNavBarCollapsed===1" class="collapsed_icon ri-logout-box-r-line" ></i>

        <p class="main_title"> <i class="ri-logout-box-r-line"></i> Log out</p>
    </div>

</div> 

