<app-page-header [headingInputData]="pageHeading">

</app-page-header>

<div class="table_container">

  <app-table-filter
    (dateSelected)="handleDateSelection($event)"
    (sortOptionSelected)="handleSortOptionSelection($event)"
    (searchByName)="handleSearchByName($event)"
    (seeAllClicked)="handleSeeAllClick()"
  >
  </app-table-filter>

  <app-data-table
    [headers]="tableHeaders"
    [data]="employeeRequest"
    [displayedProperties]="fieldsToDisplay"
    (rowClick)="handleSelectedRow($event)"
  ></app-data-table>

  <pagination 
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
  ></pagination>
  

  <!-- <pagination class="pull-right-sm" [boundaryLinks]="true" [maxSize]="5" [rotate]="true" 
[itemsPerPage]="values.maxNumberOfRowsPerPage" [totalItems]="values.totalNumberOfRows" 
[ngModel]="values.currentPage [pageBtnClass]="myCustomClass" (pageChanged)="update($event)" 
previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div> -->
