<div class="table_container">
  <!-- <h4 class="title_2">Pending Approval</h4> -->
  <!-- <span>Incoming Travel Requests</span>   -->
  <!-- Include the component in your parent component -->
  <app-table-filter
    (dateSelected)="handleDateSelection($event)"
    (sortOptionSelected)="handleSortOptionSelection($event)"
    (searchByName)="handleSearchByName($event)"
    (seeAllClicked)="handleSeeAllClick()"
  >
  </app-table-filter>

  <app-data-table
    [headers]="tableHeaders"
    [data]="employeeRequest"
    [displayedProperties]="fieldsToDisplay"
    (rowClick)="selectRow($event)"
  ></app-data-table>

  <pagination
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
