
<div class="table_container">
  <!-- <h4 class="title_2">Pending Approval</h4> -->
  <!-- <span>Incoming Travel Requests</span>   -->
<!-- Include the component in your parent component -->
<app-table-filter

(dateSelected)="handleDateSelection($event)" 
(sortOptionSelected)="handleSortOptionSelection($event)" 
(searchByName)="handleSearchByName($event)"
(seeAllClicked)="handleSeeAllClick()">

</app-table-filter>


  <div class="table_responsive">

    <table class="table custom_table">

      <thead>

        <tr>
          <th>Request ID</th>
          <th>Employee</th>
          <th>Project Code</th>
          <th>Date</th>
          <!-- <th>Mode</th> -->
          <th>Status</th>
        </tr>

      </thead>
      
        <tbody>

          <tr *ngFor="let req of employeeRequest" (click)="selectRow(req.requestId)">
            <td>{{req.requestId}} </td>
            <td><div class="employee_div">
              {{req.employeeName}}
              <span>{{req.email}} </span>
            </div> </td>
            <td>{{req.projectCode}} </td>
            <td>{{req.date | date:'dd/MM/yyyy'}} </td>
            <!-- <td><button class="button-mode">{{req.mode}} </button></td> -->
            <td><button class="button_status">{{req.status}}</button> </td>
          </tr>

        </tbody>

    </table>
    
  </div>

  <pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" ></pagination>
</div>
