.cards_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px; 
  height: 16vh; 
  overflow-y: hidden; 
  gap: 0.7em; 
}

.cards_wrapper.show_scrollbar {
  overflow-y: scroll; 
}

.cards_wrapper .card {
  position: relative;
  box-sizing: border-box;
  padding: 0.5rem; 
  background: linear-gradient(135deg, #a6d4fa, #64b5f6);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  opacity: 1;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.cards_wrapper .card .title {
  display: flex;
  align-items: center;
  font-size: 1rem; 
  color: #555;
}

.cards_wrapper .card .title p {
  margin: 8px;
}

.cards_wrapper .card .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards_wrapper .card .data p {
  margin-top: 0.2rem; 
  margin-bottom: 0.2rem;
  color: #555;
  font-size: 1.2rem; 
  line-height: 1rem; 
  font-weight: 700;
  text-align: center;
}

.cards_wrapper .card::after {
  content: '➔'; 
  position: absolute;
  bottom: 1px;
  right: 10px;
  font-size: 1.2rem; /* Adjust font size as needed */
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-in-out;
}

.cards_wrapper .card:hover::after {
  color: #1685e0; /* Color on hover */
  cursor: pointer;
}

.cards_wrapper {
  scrollbar-width: thin;
  scrollbar-color: #a6d4fa #f4f4f4;
}

.cards_wrapper::-webkit-scrollbar {
  width: 8px;
}

.cards_wrapper::-webkit-scrollbar-thumb {
  background-color: #a6d4fa;
}

.cards_wrapper::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
