.blue_rounded_button {
    background-color: #ff0000; 
    color: #fff; 
    border: none;
    padding: 0.5rem 1.25rem; 
    border-radius: 1rem; 
    cursor: pointer;
    font-size: 1rem; 
    position: absolute;
    right: 5vw;
    bottom: 2vw;
    top : 3px
}