<p>optionview-card works!</p>
<app-option-card
  [options]="optionsFromEmployee"
  (optionSelected)="handleOptionSelected($event)"
></app-option-card>
<!-- <button (click)="postSelection()" [disabled]="!selectedOption" class="blue-rounded-button">Submit</button> -->
<app-change-status-button
  [name]="name"
  [empId]="employeeId"
  [requestId]="requestId"
  [primaryStatusCode]="primaryStatusCode"
  [secondaryStatusCode]="secondaryStatusCode"
  (externalpostTriggered)="postSelection()"
></app-change-status-button>
