

<app-option-card
  [options]="optionsFromEmployee"
  (optionSelected)="handleOptionSelected($event)"
></app-option-card>
<!-- <button (click)="postSelection()" [disabled]="!selectedOption" class="blue-rounded-button">Submit</button> -->
<div class="text-center my-4">
  <app-change-status-button
    [name]="name"
    [empId]="employeeId"
    [requestId]="requestId"
    [primaryStatusId]="primaryStatusCode"
    [secondaryStatusId]="secondaryStatusCode"
    (externalpostTriggered)="postSelection()"
  ></app-change-status-button>
</div>
