.calendar {
  border-radius: 6px;
  color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  height: 100%;
  background: var(--card-bg-color);
  color: var(--primary-text-color);
  box-shadow: var(--normal-box-shadow);

}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  padding: 7px 10px;
  background-color: var(--second-color);
  color: var(--card-bg-color);
  margin-bottom: 4px;
}

.calendar-header .month_year {
  margin: 0;
  font-weight: var(--active-font-weight);
}

.calendar-header .left_icon {
  margin-right: 40px;
}

.calendar-header .right_icon,
.calendar-header .left_icon {
  font-size: var(--normal-font-size);
  color: var(--card-bg-color);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: var(--active-font-weight);
}


.calendar .calendar_body {
  width: 100%;
  margin-top: 5px;
}


/* .calendar .calendar_body .day_container{
  background-color: aqua;
  margin-bottom: 3px;
} */

.calendar .day {
  font-size: var(--extra-small-font-size);
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 7px;
  color: var(--ternary-text-color);
  color: var(--second-color);
}

.date_container {
  margin-top: 6px;
}

/* .calendar th, */
.calendar td {
  padding: 5px 0;
  text-align: center;
  width: calc(100% / 7);
}

.calendar td {
  width: 30px;
  height: 30px;
  /* padding: 5px; */
  font-size: var(--form-label-font-size);
}

.calendar td:hover {
  /* border: 1px solid var(--card-bg-color); */
  background-color: var(--secondary-cyan-color);
  border-radius: 5px;
  color: var(--second-color);
}


/*
.highlighted-return {
  background-color: var(--menu-hover-color);
  border-radius: 0 5px 5px 0;
}

.highlighted-within-range {
  background-color: var(--menu-hover-color);
} */


.calendar .date_container .date_value{
  height: 30px;
  width: 30px;
}


.calendar .date_container .adjacent-month {
  color: var(--ternary-text-color); 
}


.calendar .date_container .current-month {
  color: var(--primary-text-color); 
}

.calendar .date_container .current-date {
  background-color: var(--card-bg-color); 
  font-weight: var(--active-font-weight);
  color: var(--second-color); 
}


.calendar .date_container .highlighted-departure {
  border-radius: 5px;
  background-color: var(--menu-hover-color); 
  color: var(--second-color); 
}

.calendar .date_container .future-departure {
  background-color: var(--second-color);
  color: var(--card-bg-color);
  border-radius: 5px; 
}