<!-- <app-employee-view-card
  [titles]="titles"
  [data]="requestData"
  [titlePropertyMappings]="{
    Status: 'statusName',
    'Request Id': 'requestId',
    'Project Name': 'projectName',
    'Reason for travel': 'reasonOfTravel',
    'Start Date': 'dateOfTravel',
    Destination: 'destination'
  }"
  [buttonNeeded]="true"
  (buttonClickEvent)="navigateToOption($event)"
></app-employee-view-card> -->

<app-page-header [headingInputData]="pageHeading">

</app-page-header>

<app-travel-request-card *ngIf="requestData.length<=6" [data]="requestData">

</app-travel-request-card>
<app-data-table *ngIf="requestData.length>6"   [headers]="tableHeaders"
  [data]="requestData"
  [displayedProperties]="dataHeaders">
</app-data-table>