<div class="main_container">

    <div class="req_info_card">
    
        <div class="top_section">

            <div class="traveller_info_card">
                <span class="title_text">Requested By</span>
                <p class="info_text">{{ travelRequestDetailViewModel.employeeName }}</p>
            </div>

            <div class="project_info_card">
                <span class="title_text">Project Code</span>
                <p class="info_text">{{ travelRequestDetailViewModel.projectCode }}</p>
            </div>

        </div>

        <div class="origin_destination_section">

            <div class="location_card">
                <span class="title_text">From</span>
                <p class="location_text">{{ travelRequestDetailViewModel.sourceCity }}</p>
                <p class="country_text">{{ travelRequestDetailViewModel.sourceCountry }}</p>
            </div>

            <div class="travel_mode_card">
                <i class="icon ri-plane-line"></i>
            </div>

            <div class="location_card">
                <span class="title_text">To</span>
                <p class="location_text">{{ travelRequestDetailViewModel.destinationCity }}</p>
                <p class="country_text">{{ travelRequestDetailViewModel.destinationCountry }}</p>
            </div>

        </div>

        <div class="departure_return_section">

            <div class="date_card">
                <span class="title_text">Departure</span>
                <p class="info_text">{{ travelRequestDetailViewModel.departureDate | timestampToDate }}</p>
            </div>

            <div class="mode_info_card">
                <span class="title_text">Mode</span>
                <p class="info_text">{{ travelRequestDetailViewModel.travelModeId }}</p>
            </div>

            <div class="date_card">
                <span class="title_text">Return</span>
                <p class="info_text">{{ travelRequestDetailViewModel.returnDate | timestampToDate }}</p>
            </div>

        </div>

        <div class="docs_attached_section">

            <div class="doc_card">
                <i class="ri-attachment-2"></i>
                <span class="link_text">Passport</span>
            </div>

            <div class="doc_card">
                <i class="ri-attachment-2"></i>
                <span class="link_text">Travel Auth Doc</span>
            </div>

            <div class="doc_card">
                <i class="ri-attachment-2"></i>
                <span class="link_text">Visa</span>
            </div>

        </div>

    </div>

    <div class="action_section">
            
            <div class="reject_btn">
                <span>Reject</span>
            </div>

            <div (click)="navigateHandleUserSelection()" class="see_more_btn">
                <span>See More</span>
            </div>

            <div (click)="onProceedButtonClick()" class="forward_btn">
                <span>Proceed</span>
            </div>

    </div>
   
</div>


