.main_container {
    width: 100%;
}

.main_container .heading_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menu-hover-color);
    border-radius: var(--normal-border-radius);
    padding: 10px;
    background-color: var(--secondary-orange-color);
    background-color: rgba(128, 128, 128, 0.1);
    height: 50px;
}

.main_container .heading_section .heading .heading_text {
    font-size: var(--normal-font-size);
    font-weight: var(--active-font-weight);
    margin-top: auto;
    margin-bottom: auto;
    color: var(--third-color);
}

.main_container .heading_section .btn_container .add_btn {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: var(--active-font-weight);
    font-size: var(--small-font-size);
    cursor: pointer;
    transition: 0.3s;
    color: var(--third-color);
    border: 2px solid var(--third-color);
}

.main_container .heading_section .btn_container .add_btn:hover {
    color: var(--card-bg-color);
    background-color: var(--third-color);
}

.main_container .upload_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_container .upload_form_container .document_upload_form_modal {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    top: 2.5%;
    z-index: 99999;
}

.main_container .upload_form_container .document_upload_form_modal .form_container_main {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
    padding: 1rem;
    border-radius: var(--normal-border-radius);
    box-shadow: var(--normal-box-shadow);
}

.main_container .upload_form_container .document_upload_form_modal .heading_section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--active-font-weight);
    color: var(--card-bg-color);
    background-color: rgba(128, 128, 128, 0.09);
    color: var(--third-color);
}

.main_container .upload_form_container .document_upload_form_modal .body_section {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}


.main_container .upload_form_container .document_upload_form_modal .body_section .form_error {
    font-size: var(--extra-small-font-size);
    color: var(--danger-color);
    margin: 0;
}


.main_container .upload_form_container .document_upload_form_modal .body_section .doc_type_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--card-bg-color); */
    /* box-shadow: var(--normal-box-shadow); */
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.main_container .upload_form_container .document_upload_form_modal .body_section .doc_type_container .doc_type_card {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--secondary-orange-color);
    color: var(--primary-orange-color); */
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    /* background-color: var(--menu-hover-color); */
    color: var(--third-color);
    border: 2px solid var(--third-color);
    opacity: 0.7;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_type_container .doc_type_card:hover {
    opacity: 1;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_type_container .doc_type_card.active {
    /* background-color: var(--primary-orange-color); */
    color: var(--card-bg-color);
    font-weight: var(--active-font-weight);
    background-color: var(--third-color);
    opacity: 1;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_type_container .doc_type_card .text {
    font-size: var(--form-label-font-size);
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_container {
    justify-content: space-between;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .label,
.main_container .upload_form_container .document_upload_form_modal .body_section .label {
    font-size: var(--form-label-font-size);
    font-weight: var(--normal-font-weight);
    color: var(--secondary-text-color);
    margin-bottom: 3px;
    /* width: 30%; */
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0;
    margin-bottom: 10px;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_number_container,
.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_expiration_date_container {
    /* width: 49%; */
    width: 100%;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_number_container {
    margin-right: 3px;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_expiration_date_container {
    margin-left: 3px;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_number_container .text_input {
    text-transform: uppercase;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_number_container .text_input::placeholder {
    text-transform: lowercase;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_number_container .text_input,

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_number_and_date_section .doc_expiration_date_container .date_picker {
    height: 42px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    /* margin-top: 2px; */
    border: 2px solid var(--menu-hover-color);
    font-size: var(--form-label-font-size);
    /* font-weight: var(--active-font-weight); */
    transition: 0.3s;
    width: 100%;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_expiration_date_container .date_picker:focus {
    border: 2px solid var(--third-color);
    outline: none;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .text_input:focus {
    border: 2px solid var(--third-color);
    outline: none;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_country_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .doc_country_container .text_input {
    height: 42px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--menu-hover-color);
    font-size: var(--form-label-font-size);
    /* font-weight: var(--active-font-weight); */
    transition: 0.3s;
    /* width: 70%; */
}

.main_container .upload_form_container .document_upload_form_modal .body_section .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.main_container .upload_form_container .document_upload_form_modal .body_section .actions .submit_btn,
.main_container .upload_form_container .document_upload_form_modal .body_section .actions .cancel_btn {
    border: 2px solid var(--third-color);
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font-size);
    border-radius: 5px;
    background: none;
    color: var(--third-color);
    font-weight: var(--active-font-weight);

}

.main_container .upload_form_container .document_upload_form_modal .body_section .actions .submit_btn {
    background-color: var(--third-color);
    color: var(--card-bg-color);
    transition: 0.3s;
}

.main_container .upload_form_container .document_upload_form_modal .body_section .actions .submit_btn:hover:disabled {
    background-color: var(--danger-color);
    border: 2px solid var(--danger-color);
    cursor: no-drop;


}


.main-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}


.file_drop_area_container {
    position: relative;
    margin-bottom: 20px;
    background-color: var(--card-bg-color);
    padding: 10px;
    box-shadow: var(--normal-box-shadow);
    border-radius: 6px;
}

.file_drop_area_container .icon {
    font-size: var(--extra-large-font-size);
    color: var(--third-color);
}






@keyframes moveUpDown {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 60px;
        /* top: calc(50% - 30px); */
    }
}


#dragDropArea {
    border: 2px dashed var(--menu-hover-color);
    padding: 5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

#dragDropArea .label_text_main {
    margin: 0;
    font-size: var(--normal-font-size);
    font-weight: var(--active-font-weight);
}

#dragDropArea .label_text_sub {
    color: var(--ternary-text-color);
    font-size: var(--form-label-font-size);

}

#dragDropArea a {
    color: var(--third-color);
    text-decoration: none;
}

#dragDropArea:hover {
    border: 2px dashed var(--third-color);
    background-color: rgba(128, 128, 128, 0.1);

}


#dragDropArea .file_name {
    font-size: var(--form-label-font-size);
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#documentUpload {
    display: none;
}

/* Highlight the drop area when dragging over it */
#dragDropArea.drag-over {
    background-color: #f0f0f0;
}

/* Responsive Styles */
@media only screen and (min-width: 768px) {
    .main-container {
        max-width: 600px;
    }

    .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    select,
    input[type="date"],
    input[type="file"] {
        width: calc(50% - 10px);
    }
}

.drag-over {
    border: 2px dashed #007bff;
    /* Example border style */
    background-color: #f0f8ff;
    /* Example background color */
    /* Add any other styles to highlight the drop area */
}