<div class="main_container">

    <div class="heading_section">

        <div *ngIf="isActionBarVisible" class="action_bar" [class.single_item]="!isDelBtnVisible && !isAddBtnVisible">
            <button *ngIf="isDelBtnVisible" (click)="deleteSelectedOption()" [disabled]=" selectedImageOptionIndex === -1 && selectedTextOptionIndex === -1 && selectedTicketFileIndex === -1" class="del_btn"><i class="ri-delete-bin-5-fill"></i></button>
            <p class="main_title">{{actionBarTitle}}</p>
            <!-- <span class="task_icon"><i class="ri-donut-chart-line"></i></span> -->
            <button *ngIf="isAddBtnVisible" (click)="onAddBtnClick()" class="add_btn"><i class="icon ri-upload-cloud-line"></i>{{addBtnTitle}}</button>
        </div>
        <div class="tab_section">
            <div class="tab_container">
                <ng-container *ngFor="let tab of travelOptionViewerTabs; let i = index">
                <div (click)="onTabChange(i, tab.name)" class="tab_item" [class.active]="activeTabIndex === i" >
                    <span>{{tab.name}}</span>
                </div>
                </ng-container>
            </div>
        </div>

    </div>

    <div class="body_section">

        <!-- Add Options -->
        <div *ngIf=" activeTabName === 'Files' && requestStatus === 'Approved by RM'" class="tab_body file">
            
          <ng-container *ngFor="let item of optionImageUrls; let i = index">
                <div (click)="onOptionSelected('img',i)" [ngClass]=" selectedImageOptionIndex === i ? 'file_card active':'file_card'">
                    <img class="img" [src]="item" alt="">
                </div>
          </ng-container>

          <div *ngIf="optionImageUrls.length === 0" class="empty_option_container">
                <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyImageOptionMessage"></app-empty-data>
          </div>

        </div>
        
        <div *ngIf="activeTabName === 'Texts' && requestStatus === 'Approved by RM'" class="tab_body text">

          <div class="expansion_panel_container">
              <div
                (click)="onOptionSelected('text', i)"
                *ngFor="let htmlContent of textOptions; let i = index"
                class="expansion_panel"
              >
                <div
                  [ngClass]="
                    selectedTextOptionIndex === i
                      ? 'expansion_panel_header active'
                      : 'expansion_panel_header'
                  "
                  (click)="togglePanel(i)"
                >
                  <p class="title">Option {{ i + 1 }}</p>
                  <i
                    class="icon ri-arrow-down-wide-line"
                    *ngIf="!isPanelOpen(i)"
                  ></i>
                  <i
                    class="icon ri-arrow-up-wide-line"
                    *ngIf="isPanelOpen(i)"
                  ></i>
                </div>
                <div
                  [ngClass]="selectedTextOptionIndex === i ? 'expansion_panel_content active':' expansion_panel_content'"
                  *ngIf="isPanelOpen(i)"
                  [innerHTML]="santizieHtml(htmlContent)"
                ></div>
              </div>
          </div>
          <div *ngIf="textOptions.length === 0" class="empty_option_container">
              <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyTextOptionMessage"></app-empty-data>
          </div>
        </div>

        <!-- View Options from API -->
        <div *ngIf="activeTabName === 'Files' && requestStatus === 'Waiting' || activeTabName === 'Files' && requestStatus === 'Selected' " class="tab_body file">
          <ng-container *ngFor="let item of travelOptionsWithImagesData; let i = index">
            <div (click)="onOptionSelected('img',i)" [ngClass]=" selectedImageOptionIndex === i ? 'file_card active':'file_card'">
              <img class="img" [src]="item.optionFileURL" alt="">
            </div>
          </ng-container>
          <div *ngIf="travelOptionsWithImagesData.length === 0" class="empty_option_container">
            <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyImageOptionMessage"></app-empty-data>
          </div>
        </div>

        <div *ngIf="activeTabName === 'Texts' && requestStatus === 'Waiting' || activeTabName === 'Texts' && requestStatus === 'Selected' " class="tab_body text">

            <div class="expansion_panel_container">
                <div
                  (click)="onOptionSelected('text', i)"
                  *ngFor="let item of descriptions; let i = index"
                  class="expansion_panel"
                >
                  <div
                    [ngClass]="
                      selectedTextOptionIndex === i
                        ? 'expansion_panel_header active'
                        : 'expansion_panel_header'
                    "
                    (click)="togglePanel(i)"
                  >
                    <p class="title">Option {{ i + 1 }}</p>
                    <i
                      class="icon ri-arrow-down-wide-line"
                      *ngIf="!isPanelOpen(i)"
                    ></i>
                    <i
                      class="icon ri-arrow-up-wide-line"
                      *ngIf="isPanelOpen(i)"
                    ></i>
                  </div>
                  <div
                    class="expansion_panel_content"
                    *ngIf="isPanelOpen(i)"
                    [innerHTML]="item.htmlString"
                  ></div>
                </div>
            </div>
            <div *ngIf="descriptions.length === 0" class="empty_option_container">
              <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyTextOptionMessage"></app-empty-data>
            </div>
    
        </div>

        <!-- Display Selected Option -->
        <div *ngIf="activeTabName === 'Selected Option' || activeTabName === 'Confirmed Option'" class="tab_body selected_option">
          
          <ng-container *ngFor="let item of travelOptionsWithImagesData; let i = index">
            <div *ngIf="item.optionId === managerSelectedOptionId || item.optionId === travelAdminConfirmedOptionId" class="file_card">
              <img class="img" [src]="travelOptionsWithImagesData[i].optionFileURL" alt="alt">
            </div>
          </ng-container>

          <div class="expansion_panel_container">
            <div
              (click)="onOptionSelected('text', i)"
              *ngFor="let item of descriptions; let i = index"
              class="expansion_panel"
            >
              <div *ngIf="descriptions[i].optionId === managerSelectedOptionId"
                [ngClass]="
                  selectedTextOptionIndex === i
                    ? 'expansion_panel_header active'
                    : 'expansion_panel_header'
                "
                (click)="togglePanel(i)"
              >
                <p class="title">Option {{ i + 1 }}</p>
                <i
                  class="icon ri-arrow-down-wide-line"
                  *ngIf="!isPanelOpen(i)"
                ></i>
                <i
                  class="icon ri-arrow-up-wide-line"
                  *ngIf="isPanelOpen(i)"
                ></i>
              </div>
              <div
                class="expansion_panel_content"
                *ngIf="isPanelOpen(i)"
                [innerHTML]="item.htmlString"
              ></div>
            </div>
        </div>

        </div>

        <!-- Display Ticket Details Option -->
        <div *ngIf="activeTabName === 'Ticket Details'" class="tab_body ticket_details">

          <ng-container *ngFor="let item of ticketFileUrls; let i = index">
         
            <div *ngIf="ticketStatus === 'Not Attached'" (click)="onTicketFileSelected(i)" class="ticket_card" [class.selected]="selectedTicketFileIndex === i">

              <div class="dummy_space">
              </div>
  
              <div class="top_section">
  
                <div class="req_code">
                  <span class="title">Request Code</span>
                  <p class="value">REQ0001</p>
                </div>
  
                <div class="file_type">
                  <img class="file_type_icon" src="../../../../assets/images/pdf_icon.png" alt="">
                </div>
  
              </div>
  
              <div class="origin_destination_section">
  
                  <div class="value_card">
                    <p class="city">{{sourceCity}}</p>
                    <span class="country">{{sourceCountry}}</span>
                  </div>
  
                  <div class="value_card right">
                    <p class="city">{{destinationCity}}</p>
                    <span class="country">{{destinationCountry}}</span>
                  </div>
  
              </div>
  
              <div class="description_section">
                <span class="text">file_name.pdf</span>
              </div>
  
            </div>

          </ng-container>

          <div *ngIf="ticketFileUrls.length === 0" class="empty_option_container">
            <app-empty-data [mainTitle]="noTicketMessageTitle" [description]="noTicketMessageDescription"></app-empty-data>
          </div>
        
        </div>

        <!-- InProgress -->
        <!-- View Ticket Details from API -->
        <div *ngIf="activeTabName === 'Ticket Details' && ticketStatus === 'Attached'" class="tab_body file">
          <ng-container *ngFor="let item of travelTicketDetails; let i = index">
            <div class="ticket_card">

              <div class="dummy_space">
              </div>
  
              <div class="top_section">
  
                <div class="req_code">
                  <span class="title">Request Code</span>
                  <p class="value">REQ0001</p>
                </div>
  
                <div class="file_type">
                  <img class="file_type_icon" src="../../../../assets/images/pdf_icon.png" alt="">
                </div>
  
              </div>
  
              <div class="origin_destination_section">
  
                  <div class="value_card">
                    <p class="city">{{sourceCity}}</p>
                    <span class="country">{{sourceCountry}}</span>
                  </div>
  
                  <div class="value_card right">
                    <p class="city">{{destinationCity}}</p>
                    <span class="country">{{destinationCountry}}</span>
                  </div>
  
              </div>
  
              <div class="description_section">
                <span class="text">file_name.pdf</span>
              </div>
  
            </div>
          </ng-container>
        </div>

    </div>

</div>

<app-image-viewer
  *ngIf="isImageViewerOpen"
  [images]="optionImageUrls"
  [descriptions]="fileOptionDescriptions"
  [currentImageIndex]="selectedImageOptionIndex"
  (close)="closeImageViewer()"
></app-image-viewer>