<div class="main_container">

    <div class="heading_section">

        <div *ngIf="isActionBarVisible" class="action_bar" [class.single_item]="!isDelBtnVisible && !isAddBtnVisible">
            <button *ngIf="isDelBtnVisible" (click)="deleteSelectedOption()" [disabled]="selectedImageOptionIndex === -1 && selectedTextOptionIndex === -1" class="del_btn"><i class="ri-delete-bin-5-fill"></i></button>
            <p class="main_title">{{actionBarTitle}}</p>
            <button *ngIf="isAddBtnVisible" (click)="onAddBtnClick()" class="add_btn">Add</button>
        </div>
        <div class="tab_section">
            <div class="tab_container">
                <ng-container *ngFor="let tab of travelOptionViewerTabs; let i = index">
                <div (click)="onTabChange(i, tab.name)" class="tab_item" [class.active]="activeTabIndex === i" >
                    <span>{{tab.name}}</span>
                </div>
                </ng-container>
            </div>
        </div>

    </div>

    <div class="body_section">

        <!-- Add Options -->
        <div *ngIf=" activeTabName === 'Files' && requestStatus === 'Approved by RM'" class="tab_body file">
            
          <ng-container *ngFor="let item of optionImageUrls; let i = index">
                <div (click)="onOptionSelected('img',i)" [ngClass]=" selectedImageOptionIndex === i ? 'file_card active':'file_card'">
                    <img class="img" [src]="item" alt="">
                </div>
          </ng-container>

          <div *ngIf="optionImageUrls.length === 0" class="empty_option_container">
                <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyImageOptionMessage"></app-empty-data>
          </div>

        </div>
        
        <div *ngIf="activeTabName === 'Texts' && requestStatus === 'Approved by RM'" class="tab_body text">

          <div class="expansion_panel_container">
              <div
                (click)="onOptionSelected('text', i)"
                *ngFor="let htmlContent of textOptions; let i = index"
                class="expansion_panel"
              >
                <div
                  [ngClass]="
                    selectedTextOptionIndex === i
                      ? 'expansion_panel_header active'
                      : 'expansion_panel_header'
                  "
                  (click)="togglePanel(i)"
                >
                  <p class="title">Option {{ i + 1 }}</p>
                  <i
                    class="icon ri-arrow-down-wide-line"
                    *ngIf="!isPanelOpen(i)"
                  ></i>
                  <i
                    class="icon ri-arrow-up-wide-line"
                    *ngIf="isPanelOpen(i)"
                  ></i>
                </div>
                <div
                  class="expansion_panel_content"
                  *ngIf="isPanelOpen(i)"
                  [innerHTML]="santizieHtml(htmlContent)"
                ></div>
              </div>
          </div>
          <div *ngIf="textOptions.length === 0" class="empty_option_container">
              <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyTextOptionMessage"></app-empty-data>
          </div>
        </div>

        <!-- View Options from API -->
        <div *ngIf="activeTabName === 'Files' && requestStatus === 'Waiting' || activeTabName === 'Files' && requestStatus === 'Selected' " class="tab_body file">
          <ng-container *ngFor="let item of travelOptionsWithImagesData; let i = index">
            <div (click)="onOptionSelected('img',i)" [ngClass]=" selectedImageOptionIndex === i ? 'file_card active':'file_card'">
              <img class="img" [src]="item.optionFileURL" alt="">
            </div>
          </ng-container>
          <div *ngIf="travelOptionsWithImagesData.length === 0" class="empty_option_container">
            <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyImageOptionMessage"></app-empty-data>
          </div>
        </div>

        <div *ngIf="activeTabName === 'Texts' && requestStatus === 'Waiting' || activeTabName === 'Texts' && requestStatus === 'Selected' " class="tab_body text">

            <div class="expansion_panel_container">
                <div
                  (click)="onOptionSelected('text', i)"
                  *ngFor="let item of descriptions; let i = index"
                  class="expansion_panel"
                >
                  <div
                    [ngClass]="
                      selectedTextOptionIndex === i
                        ? 'expansion_panel_header active'
                        : 'expansion_panel_header'
                    "
                    (click)="togglePanel(i)"
                  >
                    <p class="title">Option {{ i + 1 }}</p>
                    <i
                      class="icon ri-arrow-down-wide-line"
                      *ngIf="!isPanelOpen(i)"
                    ></i>
                    <i
                      class="icon ri-arrow-up-wide-line"
                      *ngIf="isPanelOpen(i)"
                    ></i>
                  </div>
                  <div
                    class="expansion_panel_content"
                    *ngIf="isPanelOpen(i)"
                    [innerHTML]="item.htmlString"
                  ></div>
                </div>
            </div>
            <div *ngIf="descriptions.length === 0" class="empty_option_container">
              <app-empty-data [mainTitle]="emptyOptionMessageTitle" [description]="emptyTextOptionMessage"></app-empty-data>
            </div>
    
        </div>

        <div *ngIf="activeTabName === 'Selected Option' || activeTabName === 'Confirmed Option'" class="tab_body selected_option">
            
          <ng-container *ngFor="let item of travelOptionsWithImagesData; let i = index">
            <div *ngIf="item.optionId === managerSelectedOptionId" class="file_card">
              <img class="img" [src]="travelOptionsWithImagesData[i].optionFileURL" alt="alt">
            </div>
          </ng-container>

          <div class="expansion_panel_container">
            <div
              (click)="onOptionSelected('text', i)"
              *ngFor="let item of descriptions; let i = index"
              class="expansion_panel"
            >
              <div *ngIf="descriptions[i].optionId === managerSelectedOptionId"
                [ngClass]="
                  selectedTextOptionIndex === i
                    ? 'expansion_panel_header active'
                    : 'expansion_panel_header'
                "
                (click)="togglePanel(i)"
              >
                <p class="title">Option {{ i + 1 }}</p>
                <i
                  class="icon ri-arrow-down-wide-line"
                  *ngIf="!isPanelOpen(i)"
                ></i>
                <i
                  class="icon ri-arrow-up-wide-line"
                  *ngIf="isPanelOpen(i)"
                ></i>
              </div>
              <div
                class="expansion_panel_content"
                *ngIf="isPanelOpen(i)"
                [innerHTML]="item.htmlString"
              ></div>
            </div>
        </div>

        </div>

    </div>

</div>

<app-image-viewer
  *ngIf="isImageViewerOpen"
  [images]="optionImageUrls"
  [descriptions]="fileOptionDescriptions"
  [currentImageIndex]="selectedImageOptionIndex"
  (close)="closeImageViewer()"
></app-image-viewer>