.main_container {
    padding: 0;
    margin: 0;
    border-radius: var(--normal-border-radius);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    height: 100%;
}

.main_container .top_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.main_container .top_section .top_middle_top_left_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.main_container .top_section .top_middle_top_left_section  .top_left_section {
    /* height: 50vh; */
    border-radius: 5px;
    box-shadow: var(--normal-box-shadow);
    background-color: var(--card-bg-color);
    height: calc(50vh - 37px);
}

.main_container .top_section .top_middle_top_left_section  .top_middle_section {
    /* height: 50vh; */
    border-radius: 5px;
    box-shadow: var(--normal-box-shadow);
    background-color: var(--card-bg-color);
    height: calc(50vh - 37px);
}

.main_container .top_section .top_right_section {
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    border-radius: 5px;
    height: calc(50vh - 37px);
}


.main_container .bottom_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    height: 100%;
}

.main_container .bottom_section .bottom_left_section {
    background-color: var(--card-bg-color);
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--normal-box-shadow);
    transition: 0.6s ease;
    height: calc(50vh - 42px);
}

.main_container .bottom_section .bottom_left_section .heading_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--card-bg-color);
    border-radius: 10px;
    border: 1px solid var(--menu-hover-color);
}

.main_container .bottom_section .bottom_left_section .heading_container .heading_card {
    font-size: var(--form-label-font-size);
    color: var(--ternary-text-color);
    width: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.main_container .bottom_section .bottom_left_section .heading_container .heading_card.active {
    font-weight: var(--active-font-weight);
    background-color: var(--secondary-cyan-color);
    color: var(--primary-cyan-color);
    padding: 8px;
    border-radius: 5px;
}

.main_container .bottom_section .bottom_left_section .body {
    overflow-x: hidden;
    overflow-y: auto;
    /* max-height: 40vh; */
}

.main_container .bottom_section .bottom_left_section .body .travel_request_container {
    border-radius: var(--normal-border-radius);
    max-height: 30vh;
    /* box-shadow: var(--normal-box-shadow); */
}

.main_container .bottom_section .bottom_left_section .body .travel_settlement_container {
    display: block;
}


.no_display {
    display: none;
}


.main_container .bottom_section .bottom_right_section {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    box-shadow: var(--normal-box-shadow);
    height: calc(50vh - 42px);
}


@media screen and (max-width: 860px) {

    .main_container .top_section {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    
    .main_container .top_section .top_middle_top_left_section  .top_left_section {
        height: calc(25vh - 25px);
    }
    
    .main_container .top_section .top_middle_top_left_section  .top_middle_section {
        height: calc(25vh - 25px);
    }
    
    .main_container .top_section .top_right_section {
        height: calc(25vh - 25px);
    }

    .main_container .bottom_section {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    
    .main_container .bottom_section .bottom_left_section {
        height: calc(25vh - 24px);
    }

    .main_container .bottom_section .bottom_right_section {
        height: calc(25vh - 24px);
    }
    
}


@media screen and (max-width: 460px) {

    .main_container {
        height: fit-content;
    }

    .main_container .top_section {
        display: block;
        height: fit-content;
    }

    .main_container .top_section .top_left_section {
        width: 100%;
    }

    .main_container .top_section .top_middle_top_right_section {
        width: 100%;
        display: block;

    }

    .main_container .top_section .top_right_section {
        width: 100%;
        height: 40vh;
        margin: 0;

    }

    .main_container .bottom_section {
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .main_container .bottom_section .bottom_left_section {
        width: 100%;
    }

    .main_container .bottom_section .bottom_left_section .travel_request_container {
        height: 40vh;
        overflow-x: scroll;
    }

    .main_container .bottom_section .bottom_right_section {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
    }

    .main_container .top_section .top_middle_section {
        width: 100%;
        /* height: 40vh; */
        margin: 1rem 0;
        padding: 5px;
    }


    /* end */
}