<div class="req_forms_main_container">

    <div class="left_section">
    
        <div class="nav_items">

            <ng-container *ngFor="let item of leftSectionNavItems;
                let i = index">

                <li (click) = "changeNewReqFormSubMenuValue(i)" [ngClass]="newReqFormSubMenuValue !== i ? 'list_item': 'list_item active' ">{{item}}</li>
            </ng-container>

        </div>

    </div>

    <div class="right_section">
    
        <div class="form_container">

            <form (ngSubmit) = "onEmployeeTravelRequestFormSubmit()" [formGroup]="travelRequestForm" class="new_req_form" >

                <!-- general info section -->
                <div *ngIf="newReqFormSubMenuValue === 0" class="form_input_group" >

                    <div class="form_title">
                        <h4>General Informations</h4>
                    </div>

                     <div class="form_elements">

                        <input type="hidden" formControlName="createdBy"  value="{{employeeDetails?.empId}}" />

                        <div class="form_input_container">
                            <label for="firstName">First Name</label>
                            <input class="form_input" type="text"  value="{{employeeDetails?.firstName}}" readonly/>
                        </div>

                        <div class="form_input_container">
                            <label for="lastName">Last Name</label>
                            <input class="form_input" type="text"   value="{{employeeDetails?.lastName}}" readonly/>
                        </div>

                        <div class="form_input_container">
                            <label for="email">Email</label>
                            <input class="form_input" type="email"     value="{{employeeDetails?.email}}" readonly/>

                        </div>

                        <div class="form_input_container">
                            <label for="contactNumber">Phone</label>
                            <input class="form_input" type="text"    value="{{employeeDetails?.contactNumber}}" readonly/>
                        </div>

                        <div class="form_input_container">
                            <label for="departmentName">Department</label>
                            <input class="form_input" type="text"  value="{{employeeDetails?.departmentName}}" readonly/>
                        </div>

                        <div class="form_input_container">
                            <label for="reportsTo">Reports To</label>
                            <input class="form_input" type="text" value="{{employeeDetails?.reportsTo}}" readonly/>
                        </div>

                        <div class="form_input_container">
                            <label for="projectCode">Project Code</label>
                            <input class="form_input" type="text"  value="{{employeeDetails?.projectCode}}" readonly/>
                        </div>

                        <div class="form_input_container">
                            <label for="projectName">Project Name</label>
                            <input class="form_input" type="text"  value="{{employeeDetails?.projectName}}" readonly />
                        </div>

                    </div>

                    <div class="form_input_group_navigator">
                        <div class="btn_container">
                            <button (click) = "changeNewReqFormSubMenuValue(1)" class="next_btn"> Next</button>
                        </div>
                    </div>

                </div>  
         
                <!-- trip info section -->
                <div   *ngIf="newReqFormSubMenuValue === 1" class="form_input_group"  >

                    <div class="form_title">
                        <h4>Trip Informations</h4>
                    </div>

                    <div class="form_elements">

                        <div class="form_input_container">
                            <label for="travelTypeId">Trip Type</label>
                            <select  formControlName="travelTypeId"  class="form_input">
                                <option value=0 >Domestic</option>
                                <option value=1 selected>International</option>
                            </select>
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('travelTypeId')?.invalid && travelRequestForm.get('travelTypeId')?.touched">
                               Choose a trip type
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="tripPurpose">Purpose of Trip</label>
                            <input class="form_input" type="text" formControlName="tripPurpose"  placeholder="Enter the purpose" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('tripPurpose')?.invalid && travelRequestForm.get('tripPurpose')?.touched">
                               Enter Purpose of Trip
                           </span>
                        </div>


                         <div class="form_input_container">
                            <label for="departureDate">Departure Date</label>
                            <input class="form_input" formControlName="departureDate" type="date" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('departureDate')?.invalid && travelRequestForm.get('departureDate')?.touched">
                               Select departure date
                           </span>
                        </div>

                                                
                         <div class="form_input_container">
                            <label for="returnDate">Return Date</label>
                            <input class="form_input" formControlName="returnDate" type="date"  />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('returnDate')?.invalid && travelRequestForm.get('returnDate')?.touched">
                               Select return date
                           </span>
                        </div>     
                        
                    
                        <div class="form_input_container">
                            <label for="sourceCityZipCode">Source City Zip Code</label>
                            <input class="form_input" type="text" formControlName="sourceCityZipCode" placeholder="Enter the zip code of your source city" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('sourceCityZipCode')?.invalid && travelRequestForm.get('sourceCityZipCode')?.touched">
                               Enter the zipcode
                           </span>
                        </div>               
                
                        <div class="form_input_container">
                            <label for="destinationCityZipCode">Destination City Zip Code</label>
                            <input class="form_input" type="text" formControlName="destinationCityZipCode"  placeholder="Enter the zip code of your destination city" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('destinationCityZipCode')?.invalid && travelRequestForm.get('destinationCityZipCode')?.touched">
                               Enter the zipcode
                           </span>
                        </div>     

                        
                        <div class="form_input_container">
                            <label for="sourceCity">Source City</label>
                            <input class="form_input" type="text" formControlName="sourceCity"  placeholder="source city" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('sourceCity')?.invalid && travelRequestForm.get('sourceCity')?.touched">
                               Enter the source city
                           </span>
                        </div>      


                        <div class="form_input_container">
                            <label for="destinationCity">Destination City</label>
                            <input class="form_input" type="text" formControlName="destinationCity"  placeholder="destination city" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('destinationCity')?.invalid && travelRequestForm.get('destinationCity')?.touched">
                               Enter the destination
                           </span>
                        </div>      

                        
                        <div class="form_input_container">
                            <label for="sourceState">Source State</label>
                            <input class="form_input" type="text" formControlName="sourceState"  placeholder="state / province" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('sourceState')?.invalid && travelRequestForm.get('sourceState')?.touched">
                               Enter the source state
                           </span>
                        </div>                
                    
                        <div class="form_input_container">
                            <label for="destinationState">Destination State</label>
                            <input class="form_input" type="text" formControlName="destinationState"  placeholder="state / province" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('destinationState')?.invalid && travelRequestForm.get('destinationState')?.touched">
                               Enter the destination state
                           </span>
                        </div>               

                         
                        <div class="form_input_container">
                            <label for="sourceCountry">Source Country</label>
                            <input class="form_input" type="text" formControlName="sourceCountry"  placeholder="country" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('sourceCountry')?.invalid && travelRequestForm.get('sourceCountry')?.touched">
                               Enter the source country
                           </span>
                        </div>               
                    
                        <div class="form_input_container">
                            <label for="destinationCountry">Destination Country</label>
                            <input class="form_input" formControlName="destinationCountry"  type="text"  placeholder="country" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('destinationCountry')?.invalid && travelRequestForm.get('destinationCountry')?.touched">
                               Enter the destination country
                           </span>
                        </div> 
                                                    
                    <!-- form input elements ends -->
                    </div>

                        <div class="form_input_group_navigator">
                            <div class="btn_container">
                                <button (click) = "changeNewReqFormSubMenuValue(0)" class="back_btn"> Back</button>
                                <button (click) = "changeNewReqFormSubMenuValue(2)" class="next_btn"> Next</button>
                            </div>
                        </div>

                
                </div>  

                <!-- additional info section -->
                <div *ngIf="newReqFormSubMenuValue === 2" class="form_input_group"  >

                    <div class="form_title">
                        <h4>Additional Informations</h4>
                    </div>

                    <div class="form_elements">

                        <div class="form_input_container">
                            <label for="cabRequired">Do you want cab service ? </label>
                            <select class="form_input" formControlName="cabRequired">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('cabRequired')?.invalid && travelRequestForm.get('cabRequired')?.touched">
                               Choose a value
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="accommodationRequired">Do you want hotel accomodatiion ? </label>
                            <select class="form_input" formControlName="accommodationRequired">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('accommodationRequired')?.invalid && travelRequestForm.get('accommodationRequired')?.touched">
                               Choose a value
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="prefDepartureTime">Prefrerred Departure Time</label>
                            <select class="form_input" formControlName="prefDepartureTime">
                                <option value="00.00 - 04.00">00.00 - 04.00</option>
                                <option value="04.00 - 08.00">04.00 - 08.00</option>
                                <option value="08.00 - 12.00">08.00 - 12.00</option>
                                <option value="12.00 - 16.00">12.00 - 16.00</option>
                                <option value="16.00 - 20.00">16.00 - 20.00</option>

                            </select>
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('prefDepartureTime')?.invalid && travelRequestForm.get('prefDepartureTime')?.touched">
                               Choose a value
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="mailAttachment">Mail Screenshot Attachment</label>
                            <input class="form_input" type="file"  formControlName="mailAttachment" (change)="onFileChange($event, 'mailAttachment')" placeholder="attach" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('mailAttachment')?.invalid && travelRequestForm.get('mailAttachment')?.touched">
                               Choose a file
                           </span>
                        </div>


                        <div class="form_input_container">
                            <label for="passportAttachment">Passport</label>

                            <input class="form_input" type="file"  formControlName="passportAttachment" (change)="onFileChange($event, 'passportAttachment')" />
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('passportAttachment')?.invalid && travelRequestForm.get('passportAttachment')?.touched">
                               Choose a file
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="idCardAttachment">ID Card</label>
                            <input class="form_input" type="file"  formControlName="idCardAttachment" (change)="onFileChange($event, 'idCardAttachment')"  />

                            <span class="form_error"
                            *ngIf="travelRequestForm.get('idCardAttachment')?.invalid && travelRequestForm.get('idCardAttachment')?.touched">
                               Choose a file
                           </span>
                        </div>
                          
                         
                    
                        <div class="form_input_container">
                            <label for="additionalComments">Additional Comments</label>
                            <textarea class="form_input" formControlName="additionalComments" id="" cols="30" rows="4"></textarea>
                            <span class="form_error"
                            *ngIf="travelRequestForm.get('additionalComments')?.invalid && travelRequestForm.get('additionalComments')?.touched">
                               Enter Something
                           </span>
                        </div>   

                    

                    </div>

                    <div class="form_submit_container">

                        <div class="btn_container">
                            <button (click) = "changeNewReqFormSubMenuValue(1)" class="cancel_btn"> Back</button>
                            <input class="submit_btn" type="submit" [disabled]="travelRequestForm.invalid" Value="Submit">
                            <!-- <input class="submit_btn" type="submit" Value="Submit"> -->

                        </div>

                    </div>

                    <!-- form input group ends -->
                </div>


            </form> 

            <!-- form container ends -->
        </div>

        

    </div>

<!-- req form main container ends -->
</div>