<div class="req_forms_main_container">

    <div class="left_section">
    
        <div class="nav_items">

            <ng-container *ngFor="let item of leftSectionNavItems;
                let i = index">

                <li (click) = "changeNewReqFormSubMenuValue(i)" [ngClass]="newReqFormSubMenuValue !== i ? 'list_item': 'list_item active' ">{{item}}</li>
            </ng-container>

        </div>

    </div>

    <div class="right_section">
    
        <div class="form_container">

            <form (ngSubmit) = "onSubmit()" [formGroup]="form" class="new_req_form">

                <!-- general info section -->
                <div *ngIf="newReqFormSubMenuValue === 0" class="form_input_group" >

                    <div class="form_title">
                        <h4>General Informations</h4>
                    </div>

                    <div class="form_elements">

                        <div class="form_input_container">
                            <label for="firstName">First Name</label>
                            <input class="form_input" type="text" disabled value="Abhijit" />
                            <!-- <input  type="hidden" value="Abhijit" /> -->
                        </div>

                        <div class="form_input_container">
                            <label for="lastName">Last Name</label>
                            <input class="form_input" type="text" disabled value="Thankachan" />
                            <!-- <input  type="hidden" value="Thankachan" /> -->
                        </div>

                        <div class="form_input_container">
                            <label for="email">Email</label>
                            <input class="form_input" type="email" disabled value="abhijit.thankchan.@experionglobal.com" />
                            <!-- <input  type="hidden" value="abhijit.thankchan@gmail.com" /> -->

                        </div>

                        <div class="form_input_container">
                            <label for="phone">Phone</label>
                            <input class="form_input" type="text" name="phone" placeholder="phone number" value="9876567887" />
                        </div>

                        <div class="form_input_container">
                            <label for="department">Department</label>
                            <input class="form_input" type="text"   value="DU1" disabled />
                            <!-- <input  type="hidden" value="DU1" /> -->
                        </div>

                        <div class="form_input_container">
                            <label for="reportsTo">Reports To</label>
                            <input class="form_input" type="text"   value="John Doe" disabled />
                            <!-- <input  type="hidden" value="John Doe" /> -->
                        </div>

                        <div class="form_input_container">
                            <label for="projectId">Project ID</label>
                            <input class="form_input" type="text"   value="PRJ001" disabled />
                            <!-- <input  type="hidden" value="PRJ001" /> -->
                        </div>

                        <div class="form_input_container">
                            <label for="projectName">Project Name</label>
                            <input class="form_input" type="text"   value="XtraMile - Travel Req Tool" disabled />
                            <!-- <input  type="hidden" value="XtraMile - Travel Req Tool" /> -->
                        </div>

                    </div>

                    <div class="form_input_group_navigator">
                        <div class="btn_container">
                            <button (click) = "changeNewReqFormSubMenuValue(1)" class="next_btn"> Next</button>
                        </div>
                    </div>

                </div>  
        
                <!-- trip info section -->
                <div   *ngIf="newReqFormSubMenuValue === 1" class="form_input_group"  >

                    <div class="form_title">
                        <h4>Trip Informations</h4>
                        <!-- <div class="navigators">
                      
                            <span  (click) = "changeNewReqFormSubMenuValue(0)" class="prev_btn">Back</span>
                            <span  (click) = "changeNewReqFormSubMenuValue(2)" class="next_btn">Next</span>

                        </div> -->
                    </div>

                    <div class="form_elements">

                        <div class="form_input_container">
                            <label for="tripType">Trip Type</label>
                            <select  formControlName="tripType"  class="form_input">
                                <option value="domestic">Domestic</option>
                                <option value="international" selected>International</option>
                            </select>
                            <span class="form_error"
                            *ngIf="form.get('tripType')?.invalid && form.get('tripType')?.touched">
                               Choose a trip type
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="tripPurpose">Purpose of Trip</label>
                            <input class="form_input" type="text" formControlName="tripPurpose"  placeholder="Enter the purpose" />
                            <span class="form_error"
                            *ngIf="form.get('tripPurpose')?.invalid && form.get('tripPurpose')?.touched">
                               Enter Purpose of Trip
                           </span>
                        </div>


                        <div class="form_input_container">
                            <label for="departureDate">Departure Date</label>
                            <input class="form_input" formControlName="departureDate" type="date"  />
                            <span class="form_error"
                            *ngIf="form.get('departureDate')?.invalid && form.get('departureDate')?.touched">
                               Select departure date
                           </span>
                        </div>

                                                
                        <div class="form_input_container">
                            <label for="returnDate">Return Date</label>
                            <input class="form_input" formControlName="returnDate" type="date"  />
                            <span class="form_error"
                            *ngIf="form.get('returnDate')?.invalid && form.get('returnDate')?.touched">
                               Select return date
                           </span>
                        </div>    
                        
                    
                        <div class="form_input_container">
                            <label for="sourceCityZipCode">Source City Zip Code</label>
                            <input class="form_input" type="text" formControlName="sourceCityZipCode" placeholder="Enter the zip code of your source city" />
                            <span class="form_error"
                            *ngIf="form.get('sourceCityZipCode')?.invalid && form.get('sourceCityZipCode')?.touched">
                               Enter the zipcode
                           </span>
                        </div>               
                
                        <div class="form_input_container">
                            <label for="destinationCityZipCode">Destination City Zip Code</label>
                            <input class="form_input" type="text" formControlName="destinationCityZipCode"  placeholder="Enter the zip code of your destination city" />
                            <span class="form_error"
                            *ngIf="form.get('destinationCityZipCode')?.invalid && form.get('destinationCityZipCode')?.touched">
                               Enter the zipcode
                           </span>
                        </div>     

                        
                        <div class="form_input_container">
                            <label for="sourceCity">Source City</label>
                            <input class="form_input" type="text" formControlName="sourceCity"  placeholder="source city" />
                            <span class="form_error"
                            *ngIf="form.get('sourceCity')?.invalid && form.get('sourceCity')?.touched">
                               Enter the source city
                           </span>
                        </div>      


                        <div class="form_input_container">
                            <label for="destinationCity">Destination City</label>
                            <input class="form_input" type="text" formControlName="destinationCity"  placeholder="destination city" />
                            <span class="form_error"
                            *ngIf="form.get('destinationCity')?.invalid && form.get('destinationCity')?.touched">
                               Enter the destination
                           </span>
                        </div>      

                        
                        <div class="form_input_container">
                            <label for="sourceState">Source State</label>
                            <input class="form_input" type="text" formControlName="sourceState"  placeholder="state / province" />
                            <span class="form_error"
                            *ngIf="form.get('sourceState')?.invalid && form.get('sourceState')?.touched">
                               Enter the source state
                           </span>
                        </div>                
                    
                        <div class="form_input_container">
                            <label for="destinationState">Destination State</label>
                            <input class="form_input" type="text" formControlName="destinationState"  placeholder="state / province" />
                            <span class="form_error"
                            *ngIf="form.get('destinationState')?.invalid && form.get('destinationState')?.touched">
                               Enter the destination state
                           </span>
                        </div>               

                         
                        <div class="form_input_container">
                            <label for="sourceCountry">Source Country</label>
                            <input class="form_input" type="text" formControlName="sourceCountry"  placeholder="country" />
                            <span class="form_error"
                            *ngIf="form.get('sourceCountry')?.invalid && form.get('sourceCountry')?.touched">
                               Enter the source country
                           </span>
                        </div>               
                    
                        <div class="form_input_container">
                            <label for="destinationCountry">Destination Country</label>
                            <input class="form_input" formControlName="destinationCountry"  type="text"  placeholder="country" />
                            <span class="form_error"
                            *ngIf="form.get('destinationCountry')?.invalid && form.get('destinationCountry')?.touched">
                               Enter the destination country
                           </span>
                        </div> 
                                                    
                    <!-- form input elements ends -->
                    </div>

                        <div class="form_input_group_navigator">
                            <div class="btn_container">
                                <button (click) = "changeNewReqFormSubMenuValue(0)" class="back_btn"> Back</button>
                                <button (click) = "changeNewReqFormSubMenuValue(2)" class="next_btn"> Next</button>
                            </div>
                        </div>

                
                </div>  

                <!-- additional info section -->
                <div *ngIf="newReqFormSubMenuValue === 2" class="form_input_group"  >

                    <div class="form_title">
                        <h4>Additional Informations</h4>
                        <!-- <div class="navigators">
                            <span  (click) = "changeNewReqFormSubMenuValue(1)" class="prev_btn">Back</span>
                        </div> -->
                    </div>

                    <div class="form_elements">


                        <div class="form_input_container">
                            <label for="cabService">Do you want cab service ? </label>
                            <select class="form_input" formControlName="cabService">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <span class="form_error"
                            *ngIf="form.get('cabService')?.invalid && form.get('cabService')?.touched">
                               Choose a value
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="hotelAccomodation">Do you want hotel accomodatiion ? </label>
                            <select class="form_input" formControlName="hotelAccomodation">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <span class="form_error"
                            *ngIf="form.get('hotelAccomodation')?.invalid && form.get('hotelAccomodation')?.touched">
                               Choose a value
                           </span>
                        </div>


                        <div class="form_input_container">
                            <label for="prefDepartureTime">Prefrerred Departure Time</label>
                            <select class="form_input" formControlName="prefDepartureTime">
                                <option value="00.00 - 04.00">00.00 - 04.00</option>
                                <option value="04.00 - 08.00">04.00 - 08.00</option>
                                <option value="08.00 - 12.00">08.00 - 12.00</option>
                                <option value="12.00 - 16.00">12.00 - 16.00</option>
                                <option value="16.00 - 20.00">16.00 - 20.00</option>

                            </select>
                            <span class="form_error"
                            *ngIf="form.get('prefDepartureTime')?.invalid && form.get('prefDepartureTime')?.touched">
                               Choose a value
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="mailAttachment">Mail Screenshot Attachment</label>
                            <input class="form_input" type="file"  formControlName="mailAttachment" placeholder="attach" />
                            <span class="form_error"
                            *ngIf="form.get('mailAttachment')?.invalid && form.get('mailAttachment')?.touched">
                               Choose a file
                           </span>
                        </div>


                        <div class="form_input_container">
                            <label for="passportAttchment">Passport</label>
                            <input class="form_input" type="file"  formControlName="passportAttachment" placeholder="attach" />
                            <span class="form_error"
                            *ngIf="form.get('passportAttachment')?.invalid && form.get('passportAttachment')?.touched">
                               Choose a file
                           </span>
                        </div>

                        <div class="form_input_container">
                            <label for="idCardAttachment">ID Card</label>
                            <input class="form_input" type="file"  formControlName="idCardAttachment" placeholder="attach" />
                            <span class="form_error"
                            *ngIf="form.get('idCardAttachment')?.invalid && form.get('idCardAttachment')?.touched">
                               Choose a file
                           </span>
                        </div>
                        
                         
                    
                        <div class="form_input_container">
                            <label for="additionalComments">Additional Comments</label>
                            <textarea class="form_input" name="additionalComments" id="" cols="30" rows="4"></textarea>
                        </div>    
                        


                    </div>

                    <div class="form_submit_container">

                        <div class="btn_container">
                            <button (click) = "changeNewReqFormSubMenuValue(1)" class="cancel_btn"> Back</button>
                            <input class="submit_btn" type="submit" [disabled]="form.invalid" Value="Submit">
                        </div>

                    </div>

                    <!-- form input group ends -->
                </div>

            </form> 

            <!-- form container ends -->
        </div>

    </div>

<!-- req form main container ends -->
</div>