<div class="main_container">

    <div class="req_form_container">

        <div class="top_section">

            <div class="trip_type_section">
              
                <div class="trip_type_card active">
                    <input class="radio" type="radio" id="tripType" name="tripType" value="one_way">
                    <label for="one_way" class="label">One Way</label><br>
                </div>

                <div class="trip_type_card">
                    <input type="radio" id="tripType" name="tripType" value="round_trip">
                    <label for="tripType" class="label">Round Trip</label><br>
                </div>     

                <div class="trip_type_card">
                    <input type="radio" id="tripType" name="tripType" value="round_trip">
                    <label for="tripType" class="label">Multi City</label><br>
                </div>                                                
            </div>

            <div class="travel_mode_container">

                <div class="travel_mode_card active">
                    <i class="icon ri-plane-line"></i>
                    <p class="value" >Flight</p>
                </div>


                    <div class="travel_mode_card">
                        <i class="icon ri-bus-fill"></i>
                        <p class="value" >Bus</p>
                    </div>

                    <div class="travel_mode_card">
                        <i class="icon ri-roadster-fill"></i>
                        <p class="value" >Car</p>
                    </div>
                    
                    <div class="travel_mode_card">
                        <i class="icon ri-train-line"></i>
                        <p class="value" >Train</p>
                    </div>                    
            </div>

        </div>

        <div class="bottom_section">

            <div class="first_row">

                <div class="origin_destination_section">
                    
                    <div class="origin_card">
                        <span class="label">From</span>
                        <input type="text" class="form_text_input" value="Trivandrum" placeholder="From">
                        <!-- <p class="country" >India</p> -->
                    </div>

                    <div class="icon_section">
                        <i class="icon ri-arrow-left-right-fill"></i>
                    </div>

                    <div class="destination_card">
                        <span class="label" >To</span>
                        <input type="text" class="form_text_input" value="Kochi" placeholder="From">
                        <!-- <p class="country" >India</p> -->

                    </div>
                    

                </div>
                
                <div class="departure_return_section">

                    <div class="date_card">
                        <span class="label">Departure <i class="down_icon ri-arrow-down-s-fill"></i></span>
                       <input type="date" class="date_picker">
                    </div>

                    <div class="return_date_card">
                        <span class="label">Return <i class="down_icon ri-arrow-down-s-fill"></i></span>
                        <input type="date" class="date_picker"  >
                    </div>
                
                </div>

                <div (click)="toggleProjectDetailsSection('open')" class="other_info_section">

                    <div class="other_info_card">
                        <span class="label">Project Details <i class="down_icon ri-arrow-down-s-fill"></i> </span>
                        <p class="project_code_view">PRJ001</p>
                        <span class="travel_purpose_view">Business Meet</span>
                    </div>

                    <div *ngIf="isProjectDetailsSectionOpen" class="project_code_travel_purpose_container">

                        <div class="project_code_section">

                            <label class="form_label" for="cars">Project Code:</label>

                            <select id="projectCode" name="projectCode">
                                <option value="PRJ001">PRJ001</option>
                                <option value="PRJ002">PRJ002</option>
                                <option value="PRJ003">PRJ003</option>
                                <option value="PRJ004">PRJ004</option>
                            </select>

                        </div>

                        <div class="travel_purpose_section">
                            <label class="form_label" for="cars">Travel Purpose:</label>
                            <input type="text" class="form_text_input" placeholder="Enter the trip purpose">
                        </div>

                        <div class="btn_container">
                            <div (click)="toggleProjectDetailsSection('close')"  class="apply_btn">
                                <span>Apply</span>
                            </div>
                        </div>
                        
                    </div>

                </div> 

            </div>

            <div class="second_row">
                
                <div class="pref_dep_time_section">
                 
                            <label class="form_label" for="prefDepTime">Preferred Departure Time:</label>
                            <select id="prefDepTime" name="prefDepTime">
                                <option value="PRJ001">00.00 - 01.00</option>
                                <option value="PRJ002">01.00 - 02.00</option>
                                <option value="PRJ003">02.00 - 03.00</option>
                                <option value="PRJ004">03.00 - 04.00</option>
                            </select>

                </div>

                <div class="accommodation_service_section">

                    <div class="heading_section">
                        <span class="value">Accommodation Required</span>
                    </div>

                    <div class="selector_section">

                        <label class="toggle_switch">
                            <input type="checkbox">
                            <span class="toggle_slider"></span>
                        </label>

                    </div>

                </div>

                <div class="cab_service_section">

                    <div class="heading_section">
                        <span class="value">Cab Required</span>
                    </div>

                    <div class="selector_section">

                        <label class="toggle_switch">
                            <input type="checkbox">
                            <span class="toggle_slider"></span>
                        </label>

                    </div>

                </div>

                <div class="pref_pickup_time_section">
                 
                    <label class="form_label" for="prefDepTime">Preferred PickUp Time:</label>
                    <input class="form_time_input" type="time" id="time" name="time">

                </div>

                <div class="file_container">

                    <div class="file_card">
                            
                        <div class="file_title">
                            <span class="title"> <i class="ri-attachment-2"></i> Passport</span>
                        </div>

                        <div class="selector">
                            <input type="file" id="file" name="file" class="file-input" (change)="displayFileName($event)">
                            <label for="file" class="custom-file-input">Choose File</label>
                            <div id="file-name">  {{ selectedFileName }}</div>
                        </div>

                    </div>

                    <div class="file_card">
                        
                        <div class="file_title">
                            <span class="title"> <i class="ri-attachment-2"></i> Travel Auth Mail</span>
                        </div>

                        <div class="selector">
                            <input type="file" id="file" name="file" class="file-input" (change)="displayFileName($event)">
                            <label for="file" class="custom-file-input">Choose File</label>
                            <div id="file-name">  {{ selectedFileName }}</div>
                        </div>

                    </div>    
                             
                </div>


            </div>

            <div class="third_row">
                 <div class="actions">
                    <div class="submit_btn_container">
                        <button class="submit_btn" >Submit</button>
                    </div>
                 </div>
            </div>

        </div>

    </div>

</div>
