<div class="main_container">

    <div class="req_form_container">
       
        <form (ngSubmit)="submitTravelRequest()" [formGroup]="travelRequestForm" class="new_req_form" >

        <div class="top_section">

            <div class="trip_type_section">
              
                <div (click)="changeTripType('one_way')" [ngClass]=" selectedTripType === 'one_way'? 'trip_type_card active' : 'trip_type_card' " >
                    <!-- <input class="radio" type="radio" id="tripType" name="tripType" value="one_way">
                    <label for="one_way" class="label">One Way</label><br> -->
                    <span class="trip_type">One Way</span>
                </div>

                <div (click)="changeTripType('round_trip')"  [ngClass]=" selectedTripType === 'round_trip'? 'trip_type_card active' : 'trip_type_card' ">
                    <!-- <input type="radio" id="tripType" name="tripType" value="round_trip">
                    <label for="tripType" class="label">Round Trip</label><br> -->
                    <span class="trip_type">Round Trip</span>
                </div>     
            
            </div>

            <div class="travel_mode_container">

                <div  (click)="changeTravelMode('flight')"  [ngClass]=" selectedTravelMode === 'flight'? 'travel_mode_card active':'travel_mode_card' ">
                    <i class="icon ri-plane-line"></i>
                    <p class="value" >Flight</p>
                </div>

                <div (click)="changeTravelMode('bus')" [ngClass]=" selectedTravelMode === 'bus'? 'travel_mode_card active':'travel_mode_card'" >
                        <i class="icon ri-bus-fill"></i>
                        <p class="value" >Bus</p>
                </div>

                <div (click)="changeTravelMode('car')" [ngClass]=" selectedTravelMode === 'car'? 'travel_mode_card active':'travel_mode_card' " >
                        <i class="icon ri-roadster-fill"></i>
                        <p class="value" >Car</p>
                </div>
                    
                <div (click)="changeTravelMode('train')" [ngClass]=" selectedTravelMode === 'train'? 'travel_mode_card active':'travel_mode_card' " >
                        <i class="icon ri-train-line"></i>
                        <p class="value" >Train</p>
                </div>   

            </div>

        </div>

        <div class="bottom_section">

            <div class="first_row">

                <div class="origin_destination_section">

                    <input type="hidden" formControlName="createdBy"value="{{ employeeDetails?.empId }}"/>

                    <div class="origin_card">
                        <span class="label">From</span>
                        <input type="text" class="form_text_input" formControlName="sourceCity" value={{selectedOrigin}} placeholder="From">
                        <input type="hidden" formControlName="sourceCountry" />

                      <!-- <p class="country" >India</p> -->

                    <div    *ngIf="
                    travelRequestForm.get('sourceCity')?.invalid &&
                    travelRequestForm.get('sourceCity')?.touched" class="form_error_container">
                        <span class="form_error"> <i class="ri-error-warning-line"></i> Enter your origin </span>
                        <i class="form_hook ri-triangle-fill"></i>
                      </div>

                    </div>

                    <div (click)="swapOriginAndDestination()" class="icon_section">
                        <i class="icon ri-arrow-left-right-fill"></i>
                    </div>

                    <div class="destination_card">
                        <span class="label" >To</span>
                        <input type="text" class="form_text_input" formControlName="destinationCity" value={{selectedDestination}} placeholder="From">
                        <input type="hidden" formControlName="destinationCountry" />

                        <!-- <p class="country" >India</p> -->

                        <div *ngIf= "travelRequestForm.get('destinationCity')?.invalid && travelRequestForm.get('destinationCity')?.touched" class="form_error_container">
                            <span class="form_error"> <i class="ri-error-warning-line"></i> Enter your destination</span>
                            <i class="form_hook ri-triangle-fill"></i>
                        </div>

                    </div>
                    
                </div>
                
                <div class="departure_return_section">

                    <!-- Departure Date -->
                    <div class="date_card">
                        <span class="label">Departure <i class="down_icon ri-arrow-down-s-fill"></i></span>
                       
                       <input type="text" formControlName="departureDate" class="form_control custom_datepicker" bsDatepicker  [bsConfig]="{ minDate: today }" readonly 
                       (keydown)="onKeyDown($event)">

                       <!-- <div *ngIf="
                        travelRequestForm
                          .get('departureDate')
                          ?.hasError('required') &&
                        travelRequestForm.get('departureDate')?.touched
                      " class="form_error_container">
                            <span class="form_error"> <i class="ri-error-warning-line"></i> select a departure date </span>
                            <i class="form_hook ri-triangle-fill"></i>
                        </div> -->

                    </div>

                    <!-- Return Date -->
                    <div class="return_date_card">

                        <span class="label">Return <i class="down_icon ri-arrow-down-s-fill"></i></span>
                        <!-- <input *ngIf="selectedTripType !== 'one_way'" formControlName="returnDate" type="date" class="date_picker" [min]="minDate"> -->
                        
                        <input *ngIf="selectedTripType !== 'one_way'" type="text" formControlName="returnDate" class="form_control custom_datepicker" bsDatepicker  [bsConfig]="{ minDate: selectedDepartureDate }" readonly 
                        (keydown)="onKeyDown($event)">

                        <span (dblclick)="changeTripType('round_trip')" class="round_trip_message" *ngIf="selectedTripType === 'one_way'">Double Click to Add Return Date</span>
                        
                        <!-- <div *ngIf="
                        travelRequestForm
                          .get('returnDate')
                          ?.hasError('required') &&
                        travelRequestForm.get('returnDate')?.touched
                      " class="form_error_container">
                            <span class="form_error"> <i class="ri-error-warning-line"></i> select a return date </span>
                            <i class="form_hook ri-triangle-fill"></i>
                        </div> -->

                    </div>
                
                </div>

                <div (click)="toggleProjectDetailsSection('open',  $event)" class="other_info_section">

                    <div class="other_info_card">
                        <span class="label">Project Details <i class="down_icon ri-arrow-down-s-fill"></i> </span>
                        <p class="project_code_view">{{selectedProjectCode}}</p>
                        <span class="travel_purpose_view">{{selectedTravelPurpose}}</span>
                    </div>

                    <div *ngIf="isProjectDetailsSectionOpen" class="project_code_travel_purpose_container">

                        <div class="project_code_section">

                            <label class="form_label" for="cars">Project Code:</label>

                            <select id="projectCode" formControlName="projectCode" >
                                
                                <ng-container *ngFor="let code of projectCodes">
                                    <option [value]="code.projectCode">
                                      {{ code.projectCode }} - {{ code.projectName }}
                                    </option>
                                  </ng-container>

                            </select>

                        </div>

                        <div class="travel_purpose_section">
                            <label class="form_label" for="cars">Travel Purpose:</label>
                            <input type="text" class="form_text_input" formControlName="tripPurpose" placeholder="Enter the trip purpose">
                        </div>

                        <div class="btn_container">
                            <div (click)="toggleProjectDetailsSection('close',  $event)" type="button"  class="apply_btn">
                                <span>Apply</span>
                            </div>
                        </div>
                        
                    </div>

                </div> 

            </div>

            <div class="second_row">

                <!-- <div class="dots_container"> -->
                <span class="dot left_dot"></span>
                <span class="dot right_dot"></span>
                <!-- </div> -->

                <div *ngIf="selectedTravelMode !== 'car' " class="pref_dep_time_section">
                 
                            <label class="form_label" for="prefDepTime">Preferred Departure Time:</label>
                            <select id="prefDepTime" formControlName="prefDepartureTime" >
                                <option value="PRJ001">00.00 - 01.00</option>
                                <option value="PRJ002">01.00 - 02.00</option>
                                <option value="PRJ003">02.00 - 03.00</option>
                                <option value="PRJ004">03.00 - 04.00</option>
                            </select>

                </div>

                <div class="accommodation_service_section">

                    <div class="heading_section">
                        <span class="value">Accommodation Required</span>
                    </div>

                    <div class="selector_section">

                        <label class="toggle_switch">
                            <input type="checkbox" formControlName="accommodationRequired">
                            <span class="toggle_slider"></span>
                        </label>

                    </div>

                </div>

                <div *ngIf="selectedTravelMode !== 'car' " class="cab_service_section">

                    <div class="heading_section">
                        <span class="value">Cab Required</span>
                    </div>

                    <div class="selector_section">

                        <label class="toggle_switch">
                            <input type="checkbox" formControlName="cabRequired">
                            <span class="toggle_slider"></span>
                        </label>

                    </div>

                </div>

                <div *ngIf="!isPickUpTimeDisabled()" class="pref_pickup_time_section">
                 
                    <label class="form_label" for="prefDepTime">Preferred PickUp Time:</label>
                    <input class="form_time_input" type="time" id="time" formControlName="prefPickUpTime" >

                </div>

                <div class="file_container">

                    <!-- Passport Attachment -->
                    <div class="file_card">
                            
                        <div class="file_title">
                            <span class="title"> <i class="ri-attachment-2"></i> Passport</span>
                        </div>

                        <div class="selector">
                            <input type="file" id="file" formControlName="passportAttachment" class="file-input" (change)="displayFileName($event, 'passport')">
                            <label for="file" class="custom-file-input">Choose File</label>
                            <div id="passport-file-name">  {{ selectedPassportFileName }}</div>
                        </div>

                    </div>

                    <!-- Travel Auth Mail Atatchment -->
                    <div class="file_card">
                        
                        <div class="file_title">
                            <span class="title"> <i class="ri-attachment-2"></i> Travel Auth Mail</span>
                        </div>

                        <div class="selector">
                            <input type="file" id="file" formControlName="travelAuthorizationEmailCapture" class="file-input" (change)="displayFileName($event,'travel_auth_mail')">
                            <label for="file" class="custom-file-input">Choose File</label>
                            <div id="travel-auth-mail-file-name">  {{ selectedTravelAuthMailFileName }}</div>
                        </div>

                    </div>    
                             
                </div>

            </div>

            <!-- submit btn -->
            <div class="third_row">
                 <div class="actions">
                    <div class="submit_btn_container">
                        <button class="submit_btn" type="submit" >Submit</button>
                    </div>
                 </div>
            </div>

        </div>

        </form>

    </div>

</div>
