<div class="req_card_container">
  <div class="req_card"  >
    <div class="section_1 general_info">
      <!-- <span class="left_dot"></span> -->

      <div class="left">
        <span class="title">Requested By</span>
        <p class="value">{{ travelRequestDetailViewModel.employeeName }}</p>
      </div>

      <div class="right">
        <span class="title">Project ID</span>
        <p class="value">{{ travelRequestDetailViewModel.projectCode }}</p>
      </div>

      <!-- <span class="right_dot"></span> -->
    </div>

    <div class="section_2 travel_info">
      <!-- <span class="left_dot"></span> -->

      <div class="origin_destination_section">
        <div class="origin">
          <span class="city">{{
            travelRequestDetailViewModel.sourceCity
          }}</span>
          <p class="country">
            {{ travelRequestDetailViewModel.sourceCountry }}
          </p>
        </div>
        <div class="travel_mode">
          <!-- <i [ngClass]=" item.travelMode ==='Cab'  ? 'icon ri-car-line' :'icon ri-plane-line' "></i> -->
          <i class="icon ri-plane-line"></i>
        </div>
        <div class="destination">
          <span class="city">{{
            travelRequestDetailViewModel.destinationCity
          }}</span>
          <p class="country">
            {{ travelRequestDetailViewModel.destinationCountry }}
          </p>
        </div>
      </div>

      <div class="date_section">
        <div class="departure_date">
          <i class="icon ri-calendar-line"></i>

          <span>Departure</span>
          <p class="date">
            {{ travelRequestDetailViewModel.departureDate | timestampToDate }}
          </p>
        </div>

        <div class="return_date">
          <i class="icon ri-calendar-line"></i>
          <span>Return</span>
          <p class="date">
            {{ travelRequestDetailViewModel.returnDate | timestampToDate }}
          </p>
        </div>
      </div>

      <div class="info_section">
        <!-- <span class="left_dot"></span> -->

        <div class="info">
          <span class="title">Request ID</span>
          <p class="value">{{ travelRequestDetailViewModel.requestCode }}</p>
        </div>

        <div class="info">
          <span class="title">Mode</span>
          <p class="value">{{ travelRequestDetailViewModel.travelModeId }}</p>
        </div>

        <div class="info">
          <span class="title">Status</span>

          <p
            [ngClass]="
              travelRequestDetailViewModel.primaryStatus === 'Forwarded'
                ? 'value status_forwarded'
                : 'value status'
            "
          >
            {{ travelRequestDetailViewModel.primaryStatus }}
          </p>
        </div>
        <!-- <span class="right_dot"></span> -->
      </div>

      <!-- <span class="right_dot"></span> -->
    </div>

    <div class="file_attachment_section">
      <div class="file_section">
        <i class="icon ri-attachment-2"></i>
        <span class="file">
          <a
            href="{{ travelRequestDetailViewModel.passportFileUrl }}"
            target="_blank"
            download
            >Passport</a
          ></span
        >
      </div>

      <div class="file_section">
        <i class="icon ri-attachment-2"></i>
        <!-- <span class="file">Auth Mail</span> -->
        <span class="file">
          <a
            href="{{ travelRequestDetailViewModel.travelAuthMailFileUrl }}"
            target="_blank"
            download
            >Travel Auth Mail</a
          ></span
        >
      </div>
    </div>

    <div class="section_3 action_section">

      <div class="see_more_btn">
        <span class="btn_text"           (click)="navigateHandleUserSelection()"
        >See More</span>
      </div>
      <div class="approve_reject_btns">
        <div class="reject_btn">
          <span class="btn_label">Reject</span>
          <!-- <span *ngIf="currentLoggedInUserRole === 'employee'" class="btn_label">Withdraw</span> -->
          <!-- <span *ngIf="currentLoggedInUserRole === 'manager'" class="btn_label">Reject</span> -->
        </div>
  
        <div
          type="button"
          class="approve_btn" (click)="onManagerForwardTravelRequestForm()"
        >
          <span class="btn_label">Proceed</span>
          <!-- <span *ngIf="currentLoggedInUserRole === 'employee'" class="btn_label">Edit</span> -->
          <!-- <span  *ngIf="currentLoggedInUserRole === 'manager'" class="btn_label">Approve</span> -->
        </div>
      </div>

    </div>
  </div>
</div>
