.toast {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--third-color);
    color: var(--card-bg-color);
    padding: 15px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* box-shadow: var(--normal-box-shadow); */
    min-width: 300px;
    width: fit-content;
    z-index: 9999;

}

.toast.show {
    opacity: 1;
}

.toast-content {
    font-size: var(--small-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .toast .close_icon{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: var(--normal-font-size);
    color: var(--ternary-text-color);
    font-weight: var(--active-font-weight);
} */

