
<form (ngSubmit) = "onSubmit()" [formGroup]="form" class="my_form">

    
    <span class="form_error"
     *ngIf="form.get('countryId')?.invalid && form.get('countryId')?.touched">
        Enter ID
    </span>
    <input class="form_input" type="text" formControlName="countryId"  placeholder="CountryId"/>

    <br>

    <span class="form_error"
    *ngIf="form.get('countryCode')?.invalid && form.get('countryCode')?.touched">
       Enter Country Code
   </span>
   <input class="form_input" type="text" formControlName="countryCode"  placeholder="countryCode"/>

    <br>
    
    <span class="form_error"
    *ngIf="form.get('countryName')?.invalid && form.get('countryName')?.touched">
       Enter CountryName
   </span>
   <input class="form_input" type="text" formControlName="countryName"  placeholder="countryName" />

    <br>


    <span class="form_error"
    *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
       Enter Description
   </span>
   <input class="form_input" type="text" formControlName="description"  placeholder="Description" />

    <br>

    
    <input class="submit_button" type="submit" [disabled]="form.invalid" Value="Submit">

    <!-- <input class="submit_button" type="submit" [disabled]="form.get('address')?.invalid" Value="Submit"> -->


</form>
