.outercontainer{
    flex-direction: column;
    display: flex;
    margin-top: 1.2em;
    margin-left: 0.5em; 
    margin: 0;
}
.outercontainer .gauge {
    position: relative;
    width: 270px;
    height: 130px;
    background-color: #e0e0e0;
    border-radius: 160px 160px 0 0;
    margin-top: 1em;
    overflow: hidden;
    margin-right: 0;
    
  }
  
  .outercontainer .gauge .arc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .outercontainer .gauge .inner_arc {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 80%;
    background: #fff; 
    border-radius: 150px 150px 0 0;
  }
  
  .outercontainer .gauge .needle {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 4px;
    height: 65%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(-45deg);
  }
  

  .outercontainer .label {
    text-align: center;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    line-height: 100%;
  }
  
  .outercontainer .label .value {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4.3em;
  }
  .outercontainer .label .value .day{
    font-size: 13px;
  }
  .outercontainer .label .status{
    font-weight: bold;
    font-size: 18px;
    padding: 0;
  }