.outercontainer{
    flex-direction: column;
    display: flex;
    margin-top: 1.2em;
    margin-left: 0.5em;
    padding: 0;
}
.gauge {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 150px 150px 0 0;
    margin-top: 1em;
    overflow: hidden;
    
  }
  
  .gauge .arc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .gauge .inner_arc {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: #fff; 
    border-radius: 150px 150px 0 0;
  }
  
  .gauge .needle {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 4px;
    height: 65%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(-45deg);
  }
  

  .label {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 27%;
    line-height: 100%;
  }
  
  .label .value {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
    margin-right: 4.3em;
  }
  .day{
    font-size: 16px;
  }
  