<app-page-header [headingInputData]="pageHeading">

</app-page-header>

<div class="large_screen_view">
  <app-data-table
  [headers]="tableHeaders"
  [data]="incomingRequestdata"
  [displayedProperties]="fieldsToDisplay"
  (rowClick)="handleSelectedRow($event)"
></app-data-table>
</div>

<div class="small_screen_view">
  <app-travel-request-card-mobile-view></app-travel-request-card-mobile-view>
</div>



<!-- <pagination
[totalItems]="totalCount"
[(ngModel)]="currentPage"
[itemsPerPage]="itemsPerPage"
(pageChanged)="onPageChange($event)"
></pagination> -->
