
<div class="top_bar_container">
  <div class="left_section">

    <div class="top_bar_logo_container">
      <h3 class="top_bar_logo" (click)="navigateTo('dashboard')">
        <img class="logo_no_bg" src="../../../assets/images/v_logo_no_bg_1.png"> XtraMile
      </h3>
    </div>
  </div>

  <div class="right_section">
    <div class="calendar_section">
      <p class="date">
        <i class="cal_icon ri-calendar-2-line"></i> {{ date | customDate }}
      </p>
    </div>

    <div class="messenger_section">
      <i (click)=toggleTravelMessenger() class="icon ri-chat-3-line"></i>
    </div>

    <div (click)="toggleLogoutModal()" class="profile_section">
      <div class="profile_info">
        <p class="name">{{ employeeName }}</p>
        <span class="designation">{{ designation }}</span>
      </div>
  
      <div class="profile_photo">
        <img class="profile_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
      </div>
    </div>

  </div>

  <div *ngIf="isLogoutModalOpen" class="logout_modal">
    <div class="item_card profile">
      <i class=" icon ri-user-line"></i>
      <p class="text">Profile</p>
    </div>
    <div class="item_card help">
      <i class="icon ri-question-line"></i>
      <p class="text">Help</p>
    </div>
    <div class="item_card logout">
      <i class="icon ri-logout-box-r-line"></i>
      <p class="text">Logout</p>
    </div>

  </div>

</div>
