<div class="login_container">

    <div class="left_section">

        <div class="login_form_container">

            <div class="main_heading_section">
                <h4>Login With XtraMile</h4>
                <p>Lorem Ipsum is simple dummy text</p>
            </div>
            <div class="form_section">
                
                <form class="login_form">

                    <div class="form_input_container">
                        <label class="label">UserName</label>
                        <input class="input_field" type="text" placeholder="enter username">
                    </div>

                    <div class="form_input_container">
             =           <label class="label">Password</label>
                        <input class="input_field" type="password" placeholder="enter password">
                    </div>

                    <div class="forgot_password_section">
                        <span class="remember"><input class="checkbox" type="checkbox"> Remember Me</span>
                        <span class="forgot">Forgot Password ? </span>
                    </div>

                    <div class="form_submit_container">
                        <div class="btn_container">
                            <div class="login_btn">
                                LogIn
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>
        
    </div>

    <div class="right_section">
        
        <div class="img_container">

            <img src="https://images.pexels.com/photos/1570541/pexels-photo-1570541.jpeg" alt="">
        </div>

    </div>

</div>
