.login_container {
    display: flex;
}

.login_container .left_section {
    width: 60%;
    background-color: var(--card-bg-color);
    height: 100vh;
    position: relative;

}

@keyframes moveBottom {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(20px);
    }
}

.login_container .left_section .logo_container {
    margin: 2rem 0 0 2rem;
    animation: moveBottom 800ms linear;

}

.login_container .left_section .logo_container .logo {
    font-weight: var(--active-font-weight);
}

.login_container .left_section .logo_container .logo .logo_no_bg{
    width: 50px;
    /* background-color: var(--secondary-cyan-color); */
    padding: 4px;
    border-radius: 5px 15px 5px 15px;
}

.login_container .left_section .logo_container .icon {
    color: var(--second-color);
}



.login_container .right_section {
    width: 40%;
    /* background-color: var(--second-color); */
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    height: 100vh;
}


.login_container .left_section .login_form_container {
    position: absolute;
    margin-top: 4vw;
    margin-left: 6vw;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    padding: 2rem;
    border-radius: var(--normal-border-radius);
    transition: 0.3s;
    animation: moveBottom 800ms linear;

}


.login_container .left_section .login_form_container .form_error {
    color: var(--error-color);
    font-size: var(--extra-small-font-size);
}


/* .login_container .left_section .login_form_container:hover {
    box-shadow: var(--second-color) 0px 1px 1px;

} */

.login_container .left_section .login_form_container .main_heading_section h4 {
    font-size: var(--large-font-size);
    font-weight: var(--extra-font-weight);
}

.login_container .left_section .login_form_container .main_heading_section p {
    font-size: var(--extra-small-font-size);
    color: var(--ternary-text-color);
}


.login_container .left_section .login_form_container .form_section .login_form {
    margin-top: 3rem;
}

.login_container .left_section .login_form_container .form_section .login_form .form_input_container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

}


.login_container .left_section .login_form_container .form_section .login_form .form_input_container .label {
    font-size: var(--small-font-size);
    font-weight: var(--active-font-weight);
}


.login_container .left_section .login_form_container .form_section .login_form .form_input_container .input_field {
    margin: 0.4rem 0;
    padding: 0.6rem;
    border: 1px solid var(--ternary-text-color);
    border-radius: 3px;
    outline: none;
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);

}

.login_container .left_section .login_form_container .form_section .login_form .form_input_container .input_field:focus {
    border-bottom: 2.5px solid;
    border-bottom-color: var(--success-color);
}


/* /Invalid form */
.login_container .left_section .login_form_container .form_section .login_form .form_input_container .input_field.invalid {
    border-bottom: 2.5px solid;
    border-bottom-color: var(--danger-color);
}


.login_container .left_section .login_form_container .form_section .login_form .forgot_password_section {

    display: flex;
    justify-content: space-between;
    font-size: var(--extra-small-font-size);
    color: var(--ternary-text-color);
    margin-bottom: 1.2rem;
}

.login_container .left_section .login_form_container .form_section .login_form .forgot_password_section .checkbox {
    font-size: var(--extra-small-font-size);
}


.login_container .left_section .login_form_container .form_section .login_form .form_submit_container .btn_container {
    width: 100%;
}


.login_container .left_section .login_form_container .form_section .login_form .form_submit_container .btn_container .login_btn {
    background-color: var(--second-color);
    padding: 0.7rem;
    border-radius: 3px;
    color: var(--card-bg-color);
    font-size: var(--small-font-size);
    font-weight: var(--active-font-weight);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 100%;
}



.login_container .right_section {
    padding: 5vw;
    position: relative;
}


.login_container .right_section .img_container img {

    height: 80vh;
    border-radius: 0.5rem;
    position: absolute;
    left: -13rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: moveRight 800ms linear;
    /* Adjust the animation duration as needed */
}



@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(20px);
    }
}


/* Styles for loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

  }
  
    .loader::after {
    content: '';
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--third-color);
    border-bottom: 3px solid var(--third-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 999;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    /* 50%{
        transform: rotate(360deg);
    } */
    100% {
      transform: rotate(-360deg);
    }
  }

  /* Styles for loader */
.loader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

  }
  
    .loader2::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 3px solid #f3f3f3;
    border-left: 3px solid var(--third-color);
    border-right: 3px solid var(--third-color);
    border-radius: 50%;
    animation: spin_reverse 1s linear infinite;
    z-index: 9999;
  }

  @keyframes spin_reverse {
    0% {
      transform: rotate(0deg);
    }
    /* 50%{
        transform: rotate(360deg);
    } */
    100% {
      transform: rotate(360deg);
    }
  }
  