.main_container {
    padding: 1rem;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    border-radius: var(--normal-border-radius);    
}

.main_container .heading_section {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.main_container .heading_section .main_heading {
    font-size: var(--normal-font-size);
    font-weight: var(--active-font-weight);
}

.main_container .heading_section .view_all_text {

    font-size: var(--form-label-font-size);
    color: var(--third-color);

}

.main_container .body_section {
    height: 25vh;
    box-shadow: none;
    padding: 0;
    overflow-y: scroll;
    border-radius: 0;
}

.main_container .body_section .task_item_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--small-font-size);
    background-color: none;
    box-shadow: none;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 5px;
    /* background-color: var(--secondary-cyan-color);
    border-left: 2px solid var(--third-color);
    padding: 5px;
    border-radius:  5px 0px 0px 5px; */

}

.main_container .body_section .task_item_card.active{
        background-color: var(--secondary-cyan-color);
    border-left: 2px solid var(--third-color);

    /* border-radius:  5px 0px 0px 5px; */
}





.main_container .body_section .task_item_card .deadline_card {
    font-size: var(--form-label-font-size);
    font-weight: var(--active-font-weight);
    width: 28%;
    text-align: start;
}

.main_container .body_section .task_item_card .deadline_card .date {
    margin-top: auto;
    margin-bottom: auto;

}

.main_container .body_section .task_item_card .deadline_card .time {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--ternary-text-color);

}

.main_container .body_section .task_item_card .task_info {
    width: 72%;
    font-size: var(--small-font-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_container .body_section .task_item_card .task_info .task_info_text.active {
    color: var(--third-color);
    font-weight: var(--active-font-weight);
}

.main_container .action_section {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--normal-box-shadow);
    border-radius: 5px;
    margin-top: 10px;
}

.main_container .action_section .date_picker_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    
}


.main_container .action_section .date_picker_container .icon {

    color: var(--third-color);
}

.main_container .action_section .date_picker_container .date_picker{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    color: var(--third-color);
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
    
}


.main_container .action_section .selected_date_container{
    font-size: var(--extra-small-font-size);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_container .action_section .text_box_container {
    /* width: 100%; */
    padding: 0 10px;
    width: 100%;
    
}

.main_container .action_section .text_box_container .text_input {
    width:100%;
    height: 38px;
    border: none;
    outline: none;
    font-size: var(--form-label-font-size);
    /* background-color: aqua; */
}

.main_container .action_section .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: var(--third-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

/* .main_container .action_section .button:hover {
    background-color: transparent;
}

.main_container .action_section .button:hover .icon {
    color: var(--third-color);
} */



.main_container .action_section .button .icon {
    color: var(--card-bg-color);
    font-size: var(--medium-font-size);

}