.main_container{
    /* padding: 0.5rem; */
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    border-radius: var(--normal-border-radius);
    display: flex;
    height: calc(100vh - 19vh);
}

.main_container .left_section{
    width: 28%;
    /* height: 100vh; */
    height: calc(100vh - 19vh);
    border-radius: var(--normal-border-radius)  0 0 var(--normal-border-radius);
    border-right: 1px solid var(--menu-hover-color);
    box-shadow: var(--normal-box-shadow) ;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.main_container .search_bar_container{
    background-color:var(--menu-hover-color);
    padding: 0.3rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    display: flex;
    position: relative;
}

.main_container .search_bar_container .icon_container{
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-left: 3px;
}

.main_container .search_bar_container .icon{
    color: var(--ternary-text-color);
}

.main_container .search_bar_container .search_input{
    width: 100%;
    border-radius: 4px;
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 30px;
    font-size: var(--form-label-font-size);
}

.main_container .chat_list_container{
    height: 90%;
    overflow-y: scroll;
    margin-top: 0.5rem;
}

.main_container .chat_list_container .chat_item_card{    
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.main_container .chat_list_container .chat_item_card:hover{
    background-color: var(--secondary-cyan-color);
}

.main_container .chat_list_container .chat_item_card .img_section {
    width: 20%;
    margin-left: 8px;
}

.main_container .chat_list_container .chat_item_card .img_section .img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--third-color);
}

.main_container .chat_list_container .chat_item_card .info_section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_container .chat_list_container .chat_item_card .info_section .name{
    font-size: var(--normal-font-size);
    font-weight: var(--active-font-weight);
    margin-top: auto;
    margin-bottom: auto;
}

.main_container .chat_list_container .chat_item_card .info_section .message{
    font-size: var(--form-label-font-size);
    color: var(--ternary-text-color);
    margin-top: auto;
    margin-bottom: auto;
}

.main_container .chat_list_container .chat_item_card .meta_data_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--extra-small-font-size);
    text-align: end;
    width: 20%;
    margin-right: 10px;
}

.main_container .chat_list_container .chat_item_card .meta_data_section .time{
    color: var(--ternary-text-color);
}

/*
.main_container .chat_list_container .chat_item_card .meta_data_section .icon{
    color: var(--third-color);
    font-size: var(--normal-font-size);
} */


.main_container .chat_list_container .chat_item_card .meta_data_section .count {
    font-size: var(--form-label-font-size);
    background-color: var(--secondary-orange-color);
    color: var(--primary-orange-color);
    padding: 2px 5px;
    border-radius: 2px;
    transition: 0.3s;
}

.main_container .chat_list_container .chat_item_card .meta_data_section .status_container .del_icon {
    display: none;
    transition: 0.3s;
    width: fit-content;
    float: right;

}

.main_container .chat_list_container .chat_item_card:hover .meta_data_section .status_container .del_icon {
    display: block;
    color: var(--danger-color);
}

.main_container .chat_list_container .chat_item_card:hover .meta_data_section .status_container .status_icon,
.main_container .chat_list_container .chat_item_card:hover .meta_data_section .count {
    display: none;
}



.main_container .chat_list_container .chat_item_card .meta_data_section .status_container .status_icon {
    font-size: var(--small-font-size);
    color: var(--third-color);
    transition: 0.3s;
}









.main_container .right_section{
    width: 73%;
    display: block;
    position: relative;
    height: calc(100vh - 19vh);
}

.main_container .right_section .chat_info_section{
    display: flex;
    padding: 5px;
    border-radius: 0 var(--normal-border-radius) 0 0;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
}

.main_container .right_section .chat_info_section .profile_img_container{
    width: 8%;
    margin-left: 15px;
}

.main_container .right_section .chat_info_section .profile_img_container .img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--third-color);
}

.main_container .right_section .chat_info_section .profile_info_container{
    width: 72%;
    /* margin-left: 15px; */
    display: flex;
    text-align: start;
    align-items: center;
}

.main_container .right_section .chat_info_section .profile_info_container .name{
    font-size: var(--medium-font-size);
    font-weight: var(--active-font-weight);
    margin-top: auto;
    margin-bottom: auto;
}

/* .main_container .right_section .chat_info_section .profile_info_container .status{
    font-size: var(--extra-small-font-size);
    color: var(--ternary-text-color);
    margin-top: auto;
    margin-bottom: auto;
} */

.main_container .right_section .chat_info_section .action_container{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* right: 10px; */
}

.main_container .right_section .chat_info_section .action_container .action_card{
    margin-right: 10px;
    background-color: var(--secondary-cyan-color);
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.main_container .right_section .chat_info_section .action_container .action_card:hover{
    background-color: var(--third-color);
}

.main_container .right_section .chat_info_section .action_container .action_card:hover .icon{
    color: var(--card-bg-color);
}

.main_container .right_section .chat_info_section .action_container .action_card .icon{
    color: var(--third-color);
    transition: 0.3s;
}

.main_container .right_section .chat_action_container{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    border-bottom-right-radius: var(--normal-border-radius);
}

.main_container .right_section .chat_action_container .text_input_container{
    display: flex;
    width: 100%;
}

.main_container .right_section .chat_action_container .text_input_container .attachment_icon{    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: var(--ternary-text-color);
    cursor: pointer;
}

.main_container .right_section .chat_action_container .text_input_container .attachment_icon:hover{
    color: var(--third-color);
}

.main_container .right_section .chat_action_container .text_input_container .text_input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--form-label-font-size);
    padding-left: 15px;
}

.main_container .right_section .chat_action_container .send_btn_container{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--secondary-cyan-color); */
}

.main_container .right_section .chat_action_container .send_btn_container .icon{
    /* background-color: var(--secondary-cyan-color); */
    color: var(--third-color);
    /* padding: 5px 8px; */
    border-radius: 6px;
}

.main_container .right_section .chat_view_container{
    position: relative;
    height: 65vh;
    padding: 0.5rem;
    font-size: var(--form-label-font-size);
    overflow-y: scroll;
}

.main_container .right_section .chat_view_container .text_message_item{
    padding: 7px;
    background-color: var(--secondary-cyan-color);
    position: relative;
    border-radius: 15px;
    margin-bottom: 8px;
}

.main_container .right_section .chat_view_container .text_message_item.send{
    border-bottom-right-radius: 0;
    margin-left: 10%;
}

.main_container .right_section .chat_view_container .text_message_item.received{
    border-top-left-radius: 0;
    margin-right: 10%;
}

.main_container .right_section .chat_view_container .text_message_item .meta_data_section{
    font-size: var(--extra-small-font-size);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 6px;
    right: 6px;
}

.main_container .right_section .chat_view_container .text_message_item .meta_data_section .time{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    color: var(--ternary-text-color);
}

.main_container .right_section .chat_view_container .text_message_item .meta_data_section .status_icon{
    margin-top: auto;
    margin-bottom: auto;
    color: var(--primary-cyan-color);
}

.main_container  .right_section .chat_view_container .multimedia_container.send{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main_container  .right_section .chat_view_container .multimedia_container.received{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main_container  .right_section .chat_view_container .multimedia_message_item{
    padding: 7px;
    background-color: var(--secondary-cyan-color);
    position: relative;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 314px;
}

.main_container  .right_section .chat_view_container .multimedia_container.send .multimedia_message_item{
    border-bottom-right-radius: 0;
}

.main_container  .right_section .chat_view_container .multimedia_container.received .multimedia_message_item{
    border-top-left-radius: 0;
}

.main_container .right_section .chat_view_container .multimedia_message_item .multimedia{
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.main_container .right_section .chat_view_container .multimedia_message_item .meta_data_section{
    font-size: var(--extra-small-font-size);
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.main_container .right_section .chat_view_container .multimedia_message_item  .meta_data_section .time{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    color: var(--ternary-text-color);
}

.main_container .right_section .chat_view_container .multimedia_message_item  .meta_data_section .status_icon{
    margin-top: auto;
    margin-bottom: auto;
    color: var(--primary-cyan-color);
}

