.main_container{
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5rem;
    padding: 0.5rem 0;
}

.main_container .doc_card{
    height: 200px;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    padding: 0.5rem;
    /* border-radius: 6px 6px 0 0; */
    cursor: pointer;
    border-bottom: 2px solid var(--second-color);
    /* border-top: 2px solid var(--card-bg-color); */
}

.main_container .doc_card.selected{
    background-color: var(--secondary-cyan-color);
}


.main_container .doc_card.expired{
    border-bottom: 2px solid var(--primary-red-color);

}


.main_container .doc_card .top_section{
    height: 35px;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font-size);
    font-weight: var(--active-font-weight);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted var(--ternary-text-color);
}

.main_container .doc_card .top_section .status_icon{
    color: var(--primary-green-color);
}


.main_container .doc_card .top_section .file_size{
    font-size: var(--tiny-font-size);
    font-weight: var(--normal-font-weight);
    color: var(--ternary-text-color);
}

.main_container .doc_card .body_section{
    height: 155px;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    background: none;
    border-radius: 0;
}

.main_container .doc_card .body_section .left_section,
.main_container .doc_card .body_section .right_section{
    width: 50%;
    height: 100%;
}


.main_container .doc_card .body_section .info_item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    height: 45px;
}

.main_container .doc_card .body_section .info_item .title{
    font-size: var(--extra-small-font-size);
    color: var(--ternary-text-color);
    margin: 0;
}

.main_container .doc_card .body_section .info_item .value{
    font-size: var(--form-label-font-size);
    font-weight: var(--active-font-weight);
    margin: 0;
    margin-top: 2px;
}






