.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal_container .created_modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
  width: 538px;
  /* Adjust the width as needed */
}

.modal_container .created_modal .close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}



/* DASHBOARD */


.dashboard_outercontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.item_heading {
  font-weight: var(--active-font-weight);
  color: var(--secondary-text-color);
}

.dashboard_container {
  display: flex;
  flex-direction: column;
}

.app-dashboard-upcoming-trip {
  height: 50%;
  margin-left: 0.5em;
}

/* app-dashboard-gauge{
    margin: 0;
    width: 30%;
  } */

.dashboard_outercontainer .top_section {
  display: flex;
  justify-content: space-between;

}

.dashboard_outercontainer .bottom_section {
  display: flex;
  justify-content: space-between;
}