<div class="dashboard_container">
  <app-dashboard-upcoming-trip
    [employeeId]="employeeId"
  ></app-dashboard-upcoming-trip>
  <app-dashboard-card
    [titles]="cardTitles"
    [data]="cardData"
    (cardClick)="onClickCard()"
  ></app-dashboard-card>
</div>

<div class="modal_container" *ngIf="showModal">
  <div class="created_modal">
    <!-- Close button for the modal -->
    <button class="close_button" (click)="closeModal()">X</button>
    <!-- Display the progress component in the modal -->
    <app-dashboard-progress [employeeId]="employeeId"></app-dashboard-progress>
  </div>
</div>
