.doc_card_container {
    display: grid;
    width: 100%;
}

.doc_card_container .doc_card {
    position: relative;
    width: 330px;
    height: 210px;
    perspective: 1000px;
    margin: 10px;
    transition: 0.3s;
}

.doc_card_container .doc_card:hover {
    /* transform:scale3d(); */
    transform: scale3d(1.03, 1.03, 1.03);
}

.front_side {
    transform: rotateY(0deg);
}

.back_side {
    transform: rotateY(180deg);
}

.flip .front_side {
    transform: rotateY(-180deg);
}

.flip .back_side {
    transform: rotateY(0deg);
}

.doc_card_container .doc_card .front_side,
.doc_card_container .doc_card .back_side {

    position: absolute;
    /* width: 100%;
    height: 100%; */
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    color: var(--card-bg-color);
    padding: 0.8rem;
    width: 330px;
    height: 210px;
    border-radius: var(--normal-border-radius);
    box-shadow: var(--normal-box-shadow);

}

.doc_card_container .doc_card .front_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: url('https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background: url('https://images.pexels.com/photos/2387533/pexels-photo-2387533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */

    /* water drops */
    background: url('https://images.pexels.com/photos/9668533/pexels-photo-9668533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background: url('https://images.pexels.com/photos/4121831/pexels-photo-4121831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */

    /* car */
    /* background: url('https://images.pexels.com/photos/261986/pexels-photo-261986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */

    /* background: url('https://images.pexels.com/photos/221189/pexels-photo-221189.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */

    background-size: cover;
    /* border-left: 1px solid var(--third-color);
    border-right: 1px solid var(--third-color); */
    /* background: linear-gradient(#000000, #130F40); */
}

.doc_card_container .doc_card .front_side .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ternary-text-color);
    /* background-color: aqua; */
}


.doc_card_container .doc_card .front_side .top_section .top_icon .icon {
    /* background-color: var(--card-bg-color); */
    color: var(--third-color);
    padding: 5px;
    border-radius: 7px;
    font-size: 1.4rem;
    background-color: rgba(128, 128, 128, 0.09);
    /* border: 1px solid var(--card-bg-color); */
}

.doc_card_container .doc_card .front_side .file_type_container {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    justify-content: center;
}


.doc_card_container .doc_card .front_side .file_type_container .value {
    font-size: 2.8rem;
    font-weight: var(--active-font-weight);
    color: rgba(128, 128, 128, 0.4);
    text-transform: uppercase;
    text-align: end;
}


.doc_card_container .doc_card .front_side .middle_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doc_card_container .doc_card .front_side .middle_section .doc_number_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--large-font-size);
    font-weight: var(--active-font-weight);
    margin-top: 18px;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--card-bg-color);
}

.doc_card_container .doc_card .front_side .middle_section .doc_number_container .value {
    margin-top: auto;
    margin-bottom: auto;
}

.doc_card_container .doc_card .front_side .middle_section .date_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}


.doc_card_container .doc_card .front_side .middle_section .date_container .title {
    font-size: var(--extra-small-font-size);
    color: var(--ternary-text-color);
}

.doc_card_container .doc_card .front_side .middle_section .date_container .value {
    font-size: var(--form-label-font-size);
    font-weight: var(--active-font-weight);
}


.doc_card_container .doc_card .front_side .bottom_section {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    /* background: var(--dark-gradient-color); */
    border-radius: 0 0 var(--normal-border-radius) var(--normal-border-radius);

}

.doc_card_container .doc_card .front_side .bottom_section .action_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.doc_card_container .doc_card .front_side .bottom_section .action_buttons .country_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font-size);
    font-weight: var(--active-font-weight);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 25px; */
    /* padding: 0 10px; */

    text-transform: uppercase;

}


/* .doc_card_container .doc_card .bottom_section .action_buttons .download_btn {

    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: var(--third-color);
    background-color: rgba(128, 128, 128, 0.07);
} */
.doc_card_container .doc_card .front_side .bottom_section .action_buttons .download_btn,
.doc_card_container .doc_card .front_side .bottom_section .action_buttons .del_btn {

    border-radius: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--third-color);

    /* background-color: var(--primary-text-color); */
    background-color: rgba(128, 128, 128, 0.09);
    cursor: pointer;
    transition: 0.3s;

}

.doc_card_container .doc_card .front_side .bottom_section .action_buttons .download_btn:hover {
    color: var(--card-bg-color);
}

.doc_card_container .doc_card .front_side .bottom_section .action_buttons .del_btn:hover {
    color: var(--danger-color);
}



.doc_card_container .doc_card .back_side {
    padding: 0;
    /* background: var(--dark-gradient-color); */
    background: url('https://images.pexels.com/photos/261986/pexels-photo-261986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}


.doc_card_container .doc_card .back_side .file_size_container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.doc_card_container .doc_card .back_side .file_size_container .value {
    font-size: var(--extra-small-font-size);
    color: var(--ternary-text-color);
}

.doc_card_container .doc_card .back_side .img_container .img {
    width: 330px;
    border-radius: var(--normal-border-radius);
    object-fit: cover;

}