<div class="doc_card_container" *ngFor="let card of cards">

    <!-- <div class="doc_card_outer"> -->

        <div class="doc_card"  [ngClass]="{'flip': card.isFlipped}" (dblclick)="flipCard(card)">

        <div class="front_side">
            
        <div class="top_section">
            <div class="file_type_container">
                <i class="icon ri-file-settings-fill"></i>
                                <span class="value">Passport </span>
            </div>

            <div class="file_size_container">
                <span class="value">220 KB</span>
            </div>
        </div>

        <div class="middle_section">
            <div class="doc_number_container">
                <!-- <span>DOCUMENT NO</span> -->
                <p class="value">KZSPMWSB8923</p>
            </div>
            <div class="date_container">
                <div class="upload_date">
                    <span class="title">UPLOADED ON</span>
                    <p class="value">12-12-2024</p>
                </div>
                <div class="valid_thru"> 
                    <span class="title">VALID THRU</span>   
                    <p class="value">12-12-2025</p>
                </div>
            </div>
        </div>

        <div class="bottom_section">
            <div class="action_buttons">
                <div class="download_btn" type="button">
                    <span><i class="icon ri-download-line"></i></span>
                </div>

                <div class="country_name">

                    <span class="value">India</span>

                </div>

                <div class="del_btn" type="button">
                    <span><i class="icon ri-delete-bin-7-line"></i></span>
                </div>
            </div>
        </div>

        </div>

        <div class="back_side">
          
            <div class="img_container">
                <img class="img" src="https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>

        </div>

        </div>
        
    <!-- </div> -->
</div>