.calendar {
  border-radius: 6px;
  background: var(--dark-gradient-color);
  color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  height: 100%;
  /* border: 1px dotted var(--ternary-text-color); */

}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid var(--primary-orange-color);
  width: 100%;
  padding: 10px;
}

.calendar-header .month_year {
  margin: 0;
  font-weight: var(--active-font-weight);
}

.calendar-header .left_icon {
  margin-right: 40px;
}

.calendar-header .right_icon,
.calendar-header .left_icon {
  font-size: var(--normal-font-size);
  color: var(--card-bg-color);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: var(--active-font-weight);
}


.calendar .calendar_body {
  width: 100%;
  margin-top: 5px;
}




.calendar .day {

  font-size: var(--extra-small-font-size);
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 7px;
  color: var(--ternary-text-color);

}

.date_container {
  margin-top: 5px;
}

/* .calendar th, */
.calendar td {
  padding: 5px 0;
  text-align: center;
  width: calc(100% / 7);

}

.calendar td {
  padding: 5px;
  font-size: var(--form-label-font-size);
}

.calendar td:hover {
  /* border: 1px solid var(--card-bg-color); */
  background-color: var(--primary-orange-color);
  border-radius: 5px;
}

.highlighted-departure {
  background-color: var(--menu-hover-color);
  border-radius: 5px 0 0 5px;

}

/*
.highlighted-return {
  background-color: var(--menu-hover-color);
  border-radius: 0 5px 5px 0;
}

.highlighted-within-range {
  background-color: var(--menu-hover-color);
} */