<!-- <p>top-bar works!</p> -->


<div class="top_bar_container">



    <div class="left_section">

        <div class="top_bar_logo_container">
            <h3 class="top_bar_logo"> <i class="ri-road-map-fill"></i> XtraMile</h3>
        </div>

        <div class="search_bar">
            <i class="icon ri-search-2-line"></i>
            <input class="text_box" type="text" placeholder="search...">
        </div>

    </div>

    <div class="right_section">

            <div class="calendar_section">
            
            <p><i class="ri-calendar-2-line"></i> Thursday, 11th January </p>
            <i class="notification  ri-notification-2-line"></i>

            </div>


            <div class="profile_info">
                <p class="name">Abhijit Thankachan</p>
                <span class="designation">Software Engineer</span>
            </div>

            <div class="profile_photo">
                <img class="profile_img" src="https://images.pexels.com/photos/3812011/pexels-photo-3812011.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
            </div>

    </div>

</div>