<div class="main_container">

    <div class="empty_data_card">
        <div class="image_container"> 
            <img class="img" src="https://img.freepik.com/free-vector/flat-design-no-data-illustration_23-2150527130.jpg?w=740&t=st=1714191849~exp=1714192449~hmac=e92e6a17f66c6f62577f176bf00f549df55e08d94c6850f1d81e7457b1a03da1" alt="">
        </div>

        <div class="info_container">
            <p class="main_title">No Data Found!</p>
            <span class="sub_message">Lorem Ipsum is simple dummy text in the printing</span>
        </div>
    </div>

</div>