.main_container {
  margin: 0;
  height: calc(100vh - 1.5rem - 65px);
  border-radius: var(--normal-border-radius);
  display: flex;
}

.main_container .left_section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_container .left_section .top_left {
  border-radius: var(--normal-border-radius);
  height: calc((100vh - 2.5rem - 65px) / 2);
  display: flex;
  justify-content: space-between;
}

.main_container .left_section .top_left .first_col {
  width: 50%;
  margin-right: 0.5rem;
}

.main_container .left_section .top_left .sec_col {
  width: 50%;
}

.main_container .left_section .bottom_left {
  height: calc((100vh - 1.5rem - 65px) / 2);
}

.main_container .right_section {
  width: 30%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_container .right_section .top_right,
.main_container .right_section .bottom_right {
  background-color: var(--card-bg-color);
  box-shadow: var(--normal-box-shadow);
  border-radius: var(--normal-border-radius);
}

.main_container .right_section .top_right {
  height: calc((100vh - 2.5rem - 65px) / 2);
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.main_container .right_section .bottom_right {
  height: calc((100vh - 1.5rem - 65px) / 2);
  margin: 0;
}

@media screen and (max-width: 460px) {
  .main_container {
    display: block;
  }
  .main_container .left_section {
    width: 100%;
  }

  .main_container .left_section .top_left {
    display: block;
    justify-content: space-between;
  }

  .main_container .left_section .top_left .first_col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .main_container .left_section .top_left .sec_col {
    width: 100%;
  }

  .main_container .left_section .bottom_left {
    height: calc((100vh - 1.5rem - 65px) / 2);
  }

  .main_container .right_section {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
    /* background-color: aqua; */
  }

  .main_container .right_section .top_right {
    margin-bottom: 0.5rem;
  }
  .main_container .right_section .bottom_right {
    display: none;
  }
}
