<p>travel-admin-dashboard works!</p>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Generate Monthly Report</h5>
            <div class="form-group">
              <label for="month">Select Month:</label>
              <select class="form-control" [(ngModel)]="selectedMonth" name="month" id="month">
                <option *ngFor="let month of months" [value]="month">{{ month }}</option>
              </select>
            </div>
            <button class="btn btn-primary mt-3" (click)="generateMonthlyModeReport()">Generate Report</button>
            <div *ngIf="monthReportUrl" class="mt-3">
              <a class="btn btn-success" [href]="monthReportUrl" download="monthly_mode_report.xlsx">Download Report</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Generate Project Based Report</h5>
            <label>Select Project Code:</label>
            <input [(ngModel)]="selectedProject" 
                   [typeahead]="projectCodes" 
                   [typeaheadOptionField]="'projectCode'"
                   (typeaheadOnSelect)="onProjectSelect($event)"
                   class="form-control mb-3" 
                   placeholder="Search project codes...">
            <div *ngIf="projectReportUrl" class="mt-3">
              <a [href]="projectReportUrl" class="btn btn-primary" download="project_mode_report.xlsx">Download Report</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>