.card {
    width: 22em; /* Adjust width of the card */
    height: 15em; /* Adjust height of the card */
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: inline;
  }
  
.card-body {
    padding: 1em;
}

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal_container .created_modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
  width: 538px; /* Adjust the width as needed */
}

.modal_container .created_modal .close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #2196f3; 
  color: #fff; 
  padding: 5px 10px; 
  border: none;
  border-radius: 3px; 
}

.dashboard_outercontainer{
  display: flex;
  justify-content: space-around;
}
.dashboard_container {
  display: flex;
  flex-direction: column;
}

app-dashboard-upcoming-trip {
  height: 50%;
  margin-left: 0.5em;
}

/* app-dashboard-gauge{
  margin: 0;
  width: 30%;
} */
