.profile_photo {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #007bff; /* Bootstrap primary blue */
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .profile_photo:hover .dropdown {
    display: block;
  }
  
  .dropdown button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    color: #007bff; /* Bootstrap primary blue */
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #007bff; /* Bootstrap primary blue */
    color: #ffffff;
  }

