<!-- <p>top-bar works!</p> -->

<div class="top_bar_container">
  <div class="left_section">
    <!-- <div class="side_bar_controller">
            <i (click)="controlSideBar()" class="icon ri-menu-line"></i>
        </div> -->

    <div class="top_bar_logo_container">
      <h3 class="top_bar_logo">
        <i class="ri-git-pr-draft-fill"></i> XtraMile
      </h3>
    </div>
  </div>

  <div class="right_section">
    <div class="calendar_section">
      <p class="date">
        <i class="cal_icon ri-calendar-2-line"></i>{{ date | customDate }}
      </p>
      <i class="notification ri-notification-2-line"></i>
    </div>

    <div class="profile_info">
      <p class="name">{{ employeeName }}</p>
      <span class="designation">{{ designation }}</span>
    </div>

    <div class="profile_photo" (click)="toggleDropdown($event)">
      <img class="profile_img" src="assets\images\user (1).png" alt="" />
      <div class="dropdown" *ngIf="showDropdown">
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
