<!-- <p>top-bar works!</p> -->

<div class="top_bar_container">
  <div class="left_section">
    <!-- <div class="side_bar_controller">
            <i (click)="controlSideBar()" class="icon ri-menu-line"></i>
        </div> -->

    <div class="top_bar_logo_container">
      <h3 class="top_bar_logo">
        <!-- <i class="ri-git-pr-draft-fill"></i> XtraMile -->
        <!-- <i class="ri-scroll-to-bottom-fill"></i>  XtraMile -->

        <p class="logo_text"><img class="logo_img" src="../../../assets/images/logo.png" alt=""> XtraMile</p>
      </h3>
    </div>
  </div>

  <div class="right_section">
    <div class="calendar_section">
      <p class="date">
        <i class="cal_icon ri-calendar-2-line"></i>{{ date | customDate }}
      </p>
      <i class="notification ri-notification-2-fill" (click)="openNotificationModal()"></i>
    </div>
    <div class="profile_info">
      <p class="name">{{ employeeName }}</p>
      <span class="designation">{{ designation }}</span>
    </div>

    <div class="profile_photo" (click)="toggleDropdown($event)" s>
      <!-- <img class="profile_img" src="assets\images\user (1).png" alt="" /> -->
      <img (dblclick)="logout()" class="profile_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlz1U0tD1XCrGV3h1cajmk1lhVFru9Qabg&usqp=CAU" alt="">
      <!-- <div class="dropdown" *ngIf="showDropdown">
        <button (click)="logout()">Logout</button>
      </div> -->
    </div>
  </div>
</div>
