.cherry-blossom-tour {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%; /* Adjust width as needed */
    height: auto; /* Auto height to adjust based on content */
    padding: 5px; /* Adjust padding if needed */
  }
  
  .tour-card {
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .tour-image {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed */
    width: 100%; /* Example width */
    height: auto; /* Let content determine height */
  }
  
  .tour-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .tour-details {
    flex: 1;
    width: 50%; /* Example width */
    height: auto; /* Let content determine height */
  }
  
  .tour-details h3 {
    font-size: 16px; /* Adjust font-size as needed */
  }
  
  .tour-details p {
    line-height: 1.5;
    font-size: 12px; /* Adjust font-size as needed */
  }
  
  .tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    background-color: rgb(82, 178, 210);
    color: white;
    padding: 8px 12px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgb(45, 180, 224);
  }
  