.modal-header {
    background-color: var(--second-color);
    color: var(--card-bg-color);
    border-bottom: none;
  }
  
  .modal-header .exit_button{
      background-color: var(--second-color);
      border-radius: 1rem;
      border-color: #fff;
      color: var(--card-bg-color);
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-body .form-group .validation_message {
    color: var(--error-color);
    font-size: var(--extra-small-font-size);
    margin-block: 0.1em;
  }
  
  .modal-body .disabled_btn {
    opacity: 0.5; 
  }