<div class="notification_container" >
    
    <ng-container *ngFor="let item of notifications">
    <div class="notification_card">
        <div class="content_section">
            <p class="value"> {{item.content}}</p>
        </div>
        <div class="date_time_section">
            <span class="date"> <i class="ri-calendar-line"></i> {{item.date}}</span>
            <span class="time" > <i class="ri-time-line"></i> {{item.time}}</span>
        </div>
    </div>
    </ng-container>

</div>
