<div class="notification_container">
    
    <div class="notification_card">
    
        <div class="content_section">
            <p class="value"> REQ001 has been forwarded to travel team.</p>
        </div>
        <div class="date_time_section">
            <span class="date"> <i class="ri-calendar-line"></i> 23-02-24</span>
            <span class="time" > <i class="ri-time-line"></i> 11.00 AM</span>
        </div>
    </div>
    <div class="notification_card">
    
        <div class="content_section">
            <p class="value"> Per Diem allocated by the finance team for your request with request code REQ002.</p>
        </div>
        <div class="date_time_section">
            <span class="date"> <i class="ri-calendar-line"></i> 23-02-24</span>
            <span class="time" > <i class="ri-time-line"></i> 11.00 AM</span>
        </div>
    </div>      

    <div class="notification_card">
    
        <div class="content_section">
            <p class="value"> REQ003 is approved by travel admin.</p>
        </div>
        <div class="date_time_section">
            <span class="date"> <i class="ri-calendar-line"></i> 23-02-24</span>
            <span class="time" > <i class="ri-time-line"></i> 11.00 AM</span>
        </div>
    </div>
    
</div>
