<div class="req_card_container">
  <div *ngFor="let item of data" class="req_card">
    <div class="section_1 general_info">
      <!-- <span class="left_dot"></span> -->

      <div class="left">
        <div *ngIf="item.statusName == 'Open'">
          <span class="title">Requested By</span>
          <p class="value">{{ item.statusModifiedBy }}</p>
        </div>

        <div *ngIf="item.statusName == 'Forwarded'">
          <span class="title">Approved By</span>
          <p class="value">{{ item.statusModifiedBy }}</p>
        </div>

        <div *ngIf="item.statusName == 'Closed'">
          <span class="title">closed By</span>
          <p class="value">{{ item.statusModifiedBy }}</p>
        </div>

        <div *ngIf="item.statusName == 'Selected'">
          <span class="title">Selected By</span>
          <p class="value">{{ item.statusModifiedBy }}</p>
        </div>
      </div>

      <div class="right">
        <span class="title">Project ID</span>
        <p class="value">{{ item.projectCode }}</p>
      </div>

      <!-- <span class="right_dot"></span> -->
    </div>

    <div class="section_2 travel_info">
      <!-- <span class="left_dot"></span> -->

      <div class="origin_destination_section">
        <div class="origin">
          <span class="city">{{ item.sourceCity }}</span>
          <p class="country">{{ item.sourceCountry }}</p>
        </div>
        <div class="travel_mode">
          <i
            [ngClass]="
              item.travelMode === 'Cab'
                ? 'icon ri-car-line'
                : 'icon ri-plane-line'
            "
          ></i>
        </div>
        <div class="destination">
          <span class="city">{{ item.destinationCity }}</span>
          <p class="country">{{ item.destinationCountry }}</p>
        </div>
      </div>

      <div class="date_section">
        <div class="departure_date">
          <i class="icon ri-calendar-line"></i>

          <span>Departure</span>
          <p class="date">{{ item.departureDate }}</p>
        </div>

        <div class="return_date">
          <i class="icon ri-calendar-line"></i>
          <span>Return</span>
          <p class="date">{{ item.returnDate }}</p>
        </div>
      </div>

      <div class="info_section">
        <!-- <span class="left_dot"></span> -->

        <div class="info">
          <span class="title">Request ID</span>
          <p class="value">{{ item.requestCode }}</p>
        </div>

        <div class="info">
          <span class="title">Mode</span>
          <p class="value">{{ item.travelMode }}</p>
        </div>

        <div class="info">
          <span class="title">Status</span>
          <p
            [ngClass]="
              item.statusName === 'Forwarded'
                ? 'value status_forwarded'
                : 'value status'
            "
          >
            {{ item.statusName | status }}
          </p>
        </div>
        <!-- <span class="right_dot"></span> -->
      </div>

      <!-- <span class="right_dot"></span> -->
    </div>

    <div class="file_attachment_section">
      <div class="file_section">
        <i class="icon ri-attachment-2"></i>
        <span class="file">Passport</span>
      </div>

      <div class="file_section">
        <i class="icon ri-attachment-2"></i>
        <span class="file">Auth Mail</span>
      </div>
    </div>

    <div class="section_3 action_section">
      <div class="reject_btn" (click)="cancelRequest(item.requestId)">
        <span *ngIf="currentLoggedInUserRole === 'employee'" class="btn_label"
          >Withdraw</span
        >
        <span *ngIf="currentLoggedInUserRole === 'manager'" class="btn_label"
          >Reject</span
        >
      </div>

      <div (click)="viewTravelOptions(item.requestId)" class="approve_btn">
        <span *ngIf="currentLoggedInUserRole === 'employee'" class="btn_label"
          >View</span
        >
        <span *ngIf="currentLoggedInUserRole === 'manager'" class="btn_label"
          >Approve</span
        >
      </div>
    </div>
  </div>
</div>
