<div class="travel_options_container">
    <ng-container *ngFor="let item of travelOptionsData; let i = index">
      <div *ngIf="travelOptionId[i] === receveingOptionId"
        class="option_card">
        <div class="option_file">
          <img class="img" src="https://images.pexels.com/photos/1570541/pexels-photo-1570541.jpeg" alt="" />
        </div>
        <div class="description">
          <p>{{ item.description }}</p>
        </div>
      </div>
    </ng-container>
</div>
<div class="text-center mt-5">
  <app-change-status-button
    [name]="name"
    [empId]="empId"
    [requestId]="reqId"
    [primaryStatusCode]="primaryStatusCode"
    [secondaryStatusCode]="secondaryStatusCode">
  </app-change-status-button>
</div>
