.req_forms_main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    min-height: calc(100vh - 88px);
    max-height: calc(100vh - 88px);
    border-radius: 10px;
}

.req_forms_main_container .heading_section{
    width: 100%;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    background-color: var(--card-bg-color);
    z-index: 999;
    border-bottom: 1px dashed var(--ternary-text-color);
}

.req_forms_main_container .heading_section .section_heading_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.req_forms_main_container .heading_section .section_heading_card .text{
    margin-top: auto;
    margin-bottom: auto;
    font-size: var(--small-font-size);
    font-weight: var(--active-font-weight);
}

.req_forms_main_container .body_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 80%;
    border-radius: 0;
}

.req_forms_main_container .left_section {
    width: 20%;
    transition: 0.6s;
    margin-right: 0.5rem;
}

.req_forms_main_container .left_section .nav_items {
    list-style: none;
}

.req_forms_main_container .left_section .nav_items .list_item {
    margin-bottom: 0.5rem;
    padding: 10px;
    font-size: var(--span-font-size);
}

.req_forms_main_container .left_section .nav_items .list_item.active {
    background-color: var(--secondary-cyan-color);
    border-radius: var(--extra-small-border-radius);
    color: var(--second-color);
    cursor: pointer;
    font-weight: var(--active-font-weight);
}

.req_forms_main_container .left_section .nav_items .list_item:hover {
    background-color: var(--secondary-cyan-color);
    border-radius: var(--extra-small-border-radius);
    color: var(--second-color);
    cursor: pointer;
    font-weight: var(--active-font-weight);
}

.req_forms_main_container .right_section {
    right: 0;
    width: 80%;
    border-left: 1px dashed var(--ternary-text-color);
    transition: 0.6s;
}

.req_forms_main_container .right_section .form_container {
    height: 100%;
    overflow-y: auto;
    border-radius: 0 0 6px 6px;
    padding: 0.6rem;
    transition: 0.6s;
}

.no_display {
    display: none;
}

/* View Mode Styles */
.req_forms_main_container .right_section .form_container .new_req_form .form_input_group .form_data_view_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 15px;
}

.req_forms_main_container .right_section .form_container .new_req_form .form_input_group .form_data_view_container .item_card .item_title {
    /* font-weight: var(--active-font-weight); */
    margin-bottom: 2px;
    color: var(--ternary-text-color);
    font-size: var(--extra-small-font-size);
    font-size: var(--form-label-font-size);
}

.req_forms_main_container .right_section .form_container .new_req_form .form_input_group .form_data_view_container .item_card .item_value {
    font-size: var(--form-label-font-size);
    padding: 0.5rem;
    border-radius: 3.5px;
    border: 1px solid var(--menu-hover-color);
    height: 2.5rem;
}

.req_forms_main_container .right_section .form_container .new_req_form .form_input_group .form_data_view_container .item_card .item_value:hover{
    cursor: no-drop;
}


/* Travel Options */
.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .head_section{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    padding: 5px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .head_section .title{
    font-size: var(--small-font-size);
    font-weight: var(--active-font-weight);
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .head_section .del_btn{
    background-color: var(--secondary-cyan-color);
    color: var(--second-color);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--normal-font-size);
    transition: 0.3s;
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .head_section .del_btn:hover{
    background-color: var(--secondary-red-color);
    color: var(--primary-red-color);
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .head_section .add_btn{
    background-color: var(--second-color);
    width: 80px;
    height: 35px;
    color: var(--card-bg-color);
    font-size: var(--form-label-font-size);
    font-weight: var(--active-font-weight);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .head_section .title_text{
    font-size: var(--form-label-font-size);
    font-weight: var(--active-font-weight);
    text-transform: uppercase;
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .option_container {
    margin-top: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: calc(100vh - 278px);
    overflow-y: auto;

}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .option_container .option_card{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .option_container .option_card.active{
    background-color: var(--second-color);
    /* filter: grayscale(1.5); */
}

/* .req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .option_container .option_card.active .img_file .img{
    filter: grayscale(1.2);
} */

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .option_container .option_card .img_file .img{
    width: 250px;
    height: 160px;
    border-radius: 6px;
}

.req_forms_main_container .right_section .form_container .new_req_form .travel_option_section .option_container .option_card .text_option{
    width: 250px;
    height: 160px;
    background-color: var(--secondary-cyan-color);
    padding: 8px;
    border-radius: 6px;
    font-size: var(--small-font-size);
}

/* actions */
.req_forms_main_container .action_section{
    width: 100%;
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    background-color: var(--card-bg-color);
    box-shadow: var(--normal-box-shadow);
    padding: 10px;
}

.req_forms_main_container .action_section .btn_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.req_forms_main_container .action_section .btn_container .back_btn_card .btn,
.req_forms_main_container .action_section .btn_container .forward_btn_card .btn{
    height: 38px;
    width: 100px;
    background-color: transparent;
    color: var(--second-color);
    font-size: var(--form-label-font-size);
    font-weight: var(--active-font-weight);
    border: 2px solid var(--second-color);
}

.req_forms_main_container .action_section .btn_container .forward_btn_card .btn{
    background-color: var(--second-color);
    color: var(--card-bg-color);
    margin-left: 10px;
}


/* ------------------------------------------------ */

@media screen and (max-width: 860px) {

    .req_forms_main_container {
        display: block;
        position: relative;
        justify-content: space-between;
        width: 100%;
    }

    .req_forms_main_container .right_section .form_container .new_req_form .form_input_group_navigator .btn_container {
        position: relative;
    }

    .req_forms_main_container .right_section .form_container .form_input_group_navigator .btn_container .back_btn {
        position: absolute;
        left: 0;
    }


}


@media screen and (max-width: 460px) {

    .req_forms_main_container {
        display: block;
        position: relative;
        justify-content: space-between;
    }

    .req_forms_main_container .left_section {
        display: none;
    }

    .req_forms_main_container .right_section {
        width: 100%;

        /* position: absolute; */
        border: none;
    }

    .req_forms_main_container .right_section .form_container{
        height: calc(100vh - 100px);
        overflow-y: auto;
    }



    /* View Mode Styles */
    .req_forms_main_container .right_section .form_container .new_req_form .form_input_group .form_data_view_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        font-size: var(--form-label-font-size);
    }



}


/* Styles for loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: '';
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* delete */
.option_card.selected {
    border: 2px solid var( --second-color); /* Change border color to blue when selected */
    box-shadow: 0 0 5px 0 var( --second-color); /* Add a blue shadow when selected */
}

.delete_btn{
    width: var(--normal-button-width);
    height: var(--normal-button-height);
    color: var(--card-bg-color);
    background-color: var(--second-color);
    border-radius: var(--small-border-radius);
    justify-content: center;
    align-items: center;
    /* margin-right: 10px; */
    font-weight: var(--active-font-weight);
    border: var(--normal-button-border-size) solid var(--second-color);
    font-size: var(--span-font-size);
}

